<!--blog detials sec2-->
<section class="section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<div class="pe-5 border-end">
					<img class="rounded-4 mb-8 w-100 wow img-custom-anim-top" src="assets/imgs/background/img-blog-details-1.jpg" alt="inexa" />
					<p class="mb-5 wow img-custom-anim-top">
						Hygrometern is a minimal housing project located in Ystad, Sweden, designed by Johan Sundberg Arkitektur. Twenty units overall, evenly distributed between
						two-room and three-room flats, are housed in the project’s four two-story structures. The proposal is divided into several smaller built volumes rather than
						having all the flats combined into one large volume. This separation generates interstices that give the common courtyard a variety of entrances and the
						building volumes a sympathetic scale. The distinct built volumes might also take advantage of the site’s varied contours helson dowson. Hygrometern is a
						minimal housing project located in Ystad, Sweden, designed by Johan Sundberg Arkitektur.
					</p>
					<p class="mb-5 wow img-custom-anim-top">
						With larch-covered facades, galvanized steel balcony railings and staircases, painted aluminum metalwork features, and windows, the structures all speak the
						same language of materials. Variations in the floor plan, window location, and interstitial outdoor spaces enhance this material homogeneity. The goal was
						to produce a unified whole using a modern design language, where attention to materiality and detail is evident. All flats have two sides and are in close
						proximity to the outside world. Apartments on the ground floor have sizable patios, while apartments on the second floor have sizable balconies. Full height
						glass partitions ensure that both apartments maintain a comfortable temperature all year long. The internal courtyard, which is surrounded by an extended
						storage building, gives residents access to both public and private areas. The site’s level differences are used to divide parking spaces and waste
						facilities from the private patios as you approach the street.
					</p>
					<div class="row mt-8 wow img-custom-anim-left">
						<div class="col-6">
							<img class="rounded-4 mb-8" src="assets/imgs/background/img-blog-details-2.jpg" alt="inexa" />
						</div>
						<div class="col-6">
							<img class="rounded-4 mb-8" src="assets/imgs/background/img-blog-details-3.jpg" alt="inexa" />
						</div>
					</div>
					<p class="mb-5 wow img-custom-anim-top">
						On the one hand, a contemporary residential building with all the amenities and services essential for a modern lifestyle was needed. On the other hand,
						they are confronted with a complicated and divided structure that is challenging to integrate with a protected façade and volume from the 16th century.
					</p>
					<p class="mb-5 wow img-custom-anim-top">
						The use of local, noble, natural materials that highlight the essence of the Mediterranean has been crucial. All of the project’s materials are from a
						limited palette of natural substances. The restoration of historical aspects is combined. These components are mixed with the addition of new, noble ones,
						such as old bronze objects, regional stones, mirrored fabrics, porcelain accents, and regional cotton and linen textiles. The project restores the entrance
						courtyard to its former splendor after it had been altered by reforms made in the previous century.
					</p>
					<h4 class="mt-8 pb-4 ds-xs-6 wow img-custom-anim-left">User Feedbacks (06)</h4>
					<div class="d-flex align-items-start border-top pt-6 wow img-custom-anim-top">
						<img class="rounded-4 me-4" src="assets/imgs/avatar/avatar-10.png" alt="inexa" />
						<div>
							<div class="d-flex align-items-center">
								<h6 class="mb-0">Tromas H. Hendson</h6>
								<span class="mb-0 ms-2">June 9, 2024</span>
							</div>
							<p class="py-3">
								Variations in the floor plan, window location, and interstitial outdoor spaces enhance this material homogeneity. The goal was to produce a unified
								whole using a modern design language, where attention to materiality and detail is evident. All flats have two sides and are in close proximity to
								the outside world.
							</p>
							<a href="#" class="d-flex align-items-center d-inline-flex mb-8">
								<span class="icon-shape icon-sm bg-white border rounded-3 me-2 p-3">
									<i class="bi bi-reply text-dark"></i>
								</span>
								<span class="text-dark"> Reply </span>
							</a>
						</div>
					</div>
					<div class="d-flex align-items-start border-top pt-6 ms-10 wow img-custom-anim-top">
						<img class="rounded-4 me-4" src="assets/imgs/avatar/avatar-11.png" alt="inexa" />
						<div>
							<div class="d-flex align-items-center">
								<h6 class="mb-0">Rosalina D.</h6>
								<span class="mb-0 ms-2">June 10, 2024</span>
							</div>
							<p class="py-3">
								Variations in the floor plan, window location, and interstitial outdoor spaces enhance this material homogeneity. The goal was to produce a unified
								whole using a modern design language, where attention to materiality and detail is evident. All flats have two sides and are in close proximity to
								the outside world.
							</p>
							<a href="#" class="d-flex align-items-center d-inline-flex mb-8">
								<span class="icon-shape icon-sm bg-white border rounded-3 me-2 p-3">
									<i class="bi bi-reply text-dark"></i>
								</span>
								<span class="text-dark"> Reply </span>
							</a>
						</div>
					</div>
					<div class="d-flex align-items-start border-top pt-6 wow img-custom-anim-top">
						<img class="rounded-4 me-4" src="assets/imgs/avatar/avatar-12.png" alt="inexa" />
						<div>
							<div class="d-flex align-items-center">
								<h6 class="mb-0">Miranda H. Halim</h6>
								<span class="mb-0 ms-2">June 9, 2024</span>
							</div>
							<p class="py-3">
								Variations in the floor plan, window location, and interstitial outdoor spaces enhance this material homogeneity. The goal was to produce a unified
								whole using a modern design language, where attention to materiality and detail is evident. All flats have two sides and are in close proximity to
								the outside world.
							</p>
							<a href="#" class="d-flex align-items-center d-inline-flex mb-8">
								<span class="icon-shape icon-sm bg-white border rounded-3 me-2 p-3">
									<i class="bi bi-reply text-dark"></i>
								</span>
								<span class="text-dark"> Reply </span>
							</a>
						</div>
					</div>
					<div class="d-flex justify-content-between border-bottom pb-4 wow img-custom-anim-left">
						<h4>Add Feedback & Reviews</h4>
						<div class="group-start">
							<i class="bi bi-star-fill me-1"></i>
							<i class="bi bi-star-fill me-1"></i>
							<i class="bi bi-star-fill me-1"></i>
							<i class="bi bi-star-fill me-1"></i>
							<i class="bi bi-star-fill me-1"></i>
						</div>
					</div>
					<form action="#">
						<div class="row mt-5 wow img-custom-anim-left">
							<div class="col-md-4">
								<div class="input-group">
									<input type="text" class="form-control p-3 rounded-4 bg-secondary-1" placeholder="Your name" aria-label="username" />
								</div>
							</div>
							<div class="col-md-4 mt-3 mt-md-0">
								<div class="input-group">
									<input type="text" class="form-control p-3 rounded-4 bg-secondary-1" placeholder="info@webmail.com" aria-label="email" />
								</div>
							</div>
							<div class="col-md-4 mt-3 mt-md-0">
								<div class="input-group">
									<input type="text" class="form-control p-3 rounded-4 bg-secondary-1" placeholder="Website" aria-label="website" />
								</div>
							</div>
							<div class="col-12">
								<div class="input-group mt-3">
									<textarea
										class="form-control border rounded-4 p-3 bg-secondary-1 pb-10"
										placeholder="Describe Your Project in Short"
										aria-label="With textarea"
									></textarea>
								</div>
							</div>
							<div class="col-12">
								<button type="submit" class="btn btn-dark mt-3">Submit Now</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="ps-lg-5 ps-0 pt-8 pt-lg-0 wow img-custom-anim-right">
					<h4 class="border-bottom ds-xs-6 pb-4">Search Here</h4>
					<div class="input-group input-group-sm mb-3 mt-5 pb-6">
						<input type="text" class="form-control rounded-start-4 p-3" placeholder="Keywords" aria-label="Recipient's username" aria-describedby="button-addon2" />
						<button class="btn btn-dark py-3 px-4 rounded-end-4" type="button" id="button-addon2"><i class="bi bi-search fs-7"></i></button>
					</div>
					<h4 class="border-bottom ds-xs-6 pb-4">Recent Post</h4>
					<a href="blog-details.html" class="d-flex align-items-center py-3 hover-up">
						<img class="rounded-4 me-4" src="assets/imgs/background/img-blog-details-4.png" alt="inexa" />
						<span class="d-flex flex-column">
							<span class="d-flex mb-2">
								<i class="bi bi-calendar-check me-2 fs-8"></i>
								<span class="mb-0 fs-8">June 9, 2024</span>
							</span>
							<span class="mb-0 fs-7 fw-bold">These methods are often integrated</span>
						</span>
					</a>
					<a href="blog-details.html" class="d-flex align-items-center py-3 hover-up">
						<img class="rounded-4 me-4" src="assets/imgs/background/img-blog-details-5.png" alt="inexa" />
						<span class="d-flex flex-column">
							<span class="d-flex mb-2">
								<i class="bi bi-calendar-check me-2 fs-8"></i>
								<span class="mb-0 fs-8">June 12, 2024</span>
							</span>
							<span class="mb-0 fs-7 fw-bold">Customized to provide comprehensive</span>
						</span>
					</a>
					<a href="blog-details.html" class="d-flex align-items-center py-3 hover-up">
						<img class="rounded-4 me-4" src="assets/imgs/background/img-blog-details-6.png" alt="inexa" />
						<span class="d-flex flex-column">
							<span class="d-flex mb-2">
								<i class="bi bi-calendar-check me-2 fs-8"></i>
								<span class="mb-0 fs-8">June 17, 2024</span>
							</span>
							<span class="mb-0 fs-7 fw-bold">Solutions to business challenges.</span>
						</span>
					</a>
					<h4 class="border-bottom ds-xs-6 pb-4 mt-6 mb-4">Search Here</h4>
					<div class="form-check mb-3">
						<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
						<label class="form-check-label fw-bold text-dark" for="flexRadioDefault1"> Consultancy </label>
						<span class="float-end fs-7 fw-bold">(12)</span>
					</div>
					<div class="form-check mb-3">
						<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked />
						<label class="form-check-label fw-bold text-dark" for="flexRadioDefault2"> Finance </label>
						<span class="float-end fs-7 fw-bold">(05)</span>
					</div>
					<div class="form-check mb-3">
						<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" />
						<label class="form-check-label fw-bold text-dark" for="flexRadioDefault3"> ROI Growth </label>
						<span class="float-end fs-7 fw-bold">(25)</span>
					</div>
					<div class="form-check mb-3">
						<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" />
						<label class="form-check-label fw-bold text-dark" for="flexRadioDefault4"> Business </label>
						<span class="float-end fs-7 fw-bold">(07)</span>
					</div>
					<div class="form-check mb-3">
						<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5" />
						<label class="form-check-label fw-bold text-dark" for="flexRadioDefault5"> Investment </label>
						<span class="float-end fs-7 fw-bold">(19)</span>
					</div>
					<div class="form-check mb-3">
						<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault6" />
						<label class="form-check-label fw-bold text-dark" for="flexRadioDefault6"> Online Service </label>
						<span class="float-end fs-7 fw-bold">(02)</span>
					</div>
					<div class="form-check mb-3">
						<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault7" />
						<label class="form-check-label fw-bold text-dark" for="flexRadioDefault7"> Support </label>
						<span class="float-end fs-7 fw-bold">(18)</span>
					</div>
					<div class="position-relative mt-6 text-center">
						<img class="img-fluid rounded-4" src="assets/imgs/background/img-blog-details-7.png" alt="inexa" />
						<span class="stroke_md  ds-1 position-absolute top-50 start-50 translate-middle">Inexa</span>
						<span class="fs-4 position-absolute top-50 start-50 translate-middle fw-bold text-white">Ads Banner</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
