<!--home 3 Section4-->
<section class="home3_section4 section-padding bg-secondary-1">
	<div class="container">
		<div class="row">
			<div class="col text-center pt-120 wow img-custom-anim-top">
				<span class="text-uppercase text-primary border border-primary-1 bg-white rounded-3 fs-7 py-1 px-2 fw-medium">portfolio</span>
				<h1 class="ds-5">My featured works</h1>
			</div>
		</div>
	</div>
	<div class="position-relative">
		<!-- Carausel Scroll -->
		<div id="carouselTicker-left" class="carouselTicker position-relative z-1 wow img-custom-anim-right">
			<ul class="carouselTicker__list">
				<li class="carouselTicker__item">
					<a href="portfolio-details.html">
						<img class="rounded-4" src="assets/imgs/background/img-portfolio-3-1.png" alt="inexa" />
					</a>
				</li>
				<li class="carouselTicker__item">
					<a href="portfolio-details.html">
						<img class="rounded-4" src="assets/imgs/background/img-portfolio-3-2.png" alt="inexa" />
					</a>
				</li>
				<li class="carouselTicker__item">
					<a href="portfolio-details.html">
						<img class="rounded-4" src="assets/imgs/background/img-portfolio-3-3.png" alt="inexa" />
					</a>
				</li>
				<li class="carouselTicker__item">
					<a href="portfolio-details.html">
						<img class="rounded-4" src="assets/imgs/background/img-portfolio-3-4.png" alt="inexa" />
					</a>
				</li>
				<li class="carouselTicker__item">
					<a href="portfolio-details.html">
						<img class="rounded-4" src="assets/imgs/background/img-portfolio-3-1.png" alt="inexa" />
					</a>
				</li>
				<li class="carouselTicker__item">
					<a href="portfolio-details.html">
						<img class="rounded-4" src="assets/imgs/background/img-portfolio-3-2.png" alt="inexa" />
					</a>
				</li>
				<li class="carouselTicker__item">
					<a href="portfolio-details.html">
						<img class="rounded-4" src="assets/imgs/background/img-portfolio-3-3.png" alt="inexa" />
					</a>
				</li>
				<li class="carouselTicker__item">
					<a href="portfolio-details.html">
						<img class="rounded-4" src="assets/imgs/background/img-portfolio-3-4.png" alt="inexa" />
					</a>
				</li>
			</ul>
		</div>
		<div id="carouselTicker-right" class="carouselTicker mt-6 position-relative z-1 wow img-custom-anim-left">
			<ul class="carouselTicker__list">
				<li class="carouselTicker__item">
					<a href="portfolio-details.html">
						<img class="rounded-4" src="assets/imgs/background/img-portfolio-3-5.png" alt="inexa" />
					</a>
				</li>
				<li class="carouselTicker__item">
					<a href="portfolio-details.html">
						<img class="rounded-4" src="assets/imgs/background/img-portfolio-3-6.png" alt="inexa" />
					</a>
				</li>
				<li class="carouselTicker__item">
					<a href="portfolio-details.html">
						<img class="rounded-4" src="assets/imgs/background/img-portfolio-3-7.png" alt="inexa" />
					</a>
				</li>
				<li class="carouselTicker__item">
					<a href="portfolio-details.html">
						<img class="rounded-4" src="assets/imgs/background/img-portfolio-3-8.png" alt="inexa" />
					</a>
				</li>
				<li class="carouselTicker__item">
					<a href="portfolio-details.html">
						<img class="rounded-4" src="assets/imgs/background/img-portfolio-3-5.png" alt="inexa" />
					</a>
				</li>
				<li class="carouselTicker__item">
					<a href="portfolio-details.html">
						<img class="rounded-4" src="assets/imgs/background/img-portfolio-3-6.png" alt="inexa" />
					</a>
				</li>
				<li class="carouselTicker__item">
					<a href="portfolio-details.html">
						<img class="rounded-4" src="assets/imgs/background/img-portfolio-3-7.png" alt="inexa" />
					</a>
				</li>
				<li class="carouselTicker__item">
					<a href="portfolio-details.html">
						<img class="rounded-4" src="assets/imgs/background/img-portfolio-3-8.png" alt="inexa" />
					</a>
				</li>
			</ul>
		</div>
		<h1 class="position-absolute top-50 start-50 translate-middle mb-10 mt-0 stroke_light_xl text-secondary-1 z-0 wow img-custom-anim-top">Creative Works</h1>
	</div>
</section>
