<!--home 3 Section1-->
<section class="home3_section1 bg-secondary-1 section-padding position-relative">
	<div class="container position-relative z-1 pb-250 pt-250">
		<div class="row">
			<div class="col wow img-custom-anim-left">
				<span class="text-uppercase text-primary border border-primary-1 bg-white rounded-3 fs-7 py-1 px-2 fw-medium">alonso fikri</span>
				<h1 class="fs-96">
					Freelance <br />
					UI & UX
					<span class="stroke-primary">Designer</span>
				</h1>
				<div class="btn btn-dark me-3">Download cv</div>
				<a href="https://www.behance.net/" target="_blank" class="icon-shape btn-outline-primary icon-xl bg-white rounded-3 me-3">
					<i class="fa-brands fa-behance"></i>
				</a>
				<a href="https://x.com/" target="_blank" class="icon-shape btn-outline-primary icon-xl bg-white rounded-3 me-3">
					<i class="bi bi-twitter-x"></i>
				</a>
				<a href="https://www.linkedin.com/" target="_blank" class="icon-shape btn-outline-primary icon-xl bg-white rounded-3 me-3">
					<i class="bi bi-linkedin"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="position-absolute top-0 end-0 z-0 wow img-custom-anim-top">
		<img class="dark-reverse" src="assets/imgs/human/bg.png" alt="inexa" />
	</div>
	<div class="position-absolute top-0 end-0 wow img-custom-anim-top">
		<img src="assets/imgs/human/human-3.png" alt="inexa" />
	</div>
	<div class="position-absolute start-50 top-0 pt-150 ps-5 wow img-custom-anim-top">
		<img src="assets/imgs/background/pattern-dot.png" alt="inexa" />
	</div>
	<div class="position-absolute start-0 bottom-0 ms-5 border-5 border-white pe-4 wow img-custom-anim-top">
		<img src="assets/imgs/background/test.png" alt="about" class="img-fluid rounded-4 m-5 shadow shake-vertical" />
		<a href="#" class="position-absolute top-0 start-0 translate-middle m-6">
			<i class="fa-solid fa-paperclip fs-2"></i>
		</a>
		<a
			href="https://www.youtube.com/watch?v=gXFATcwrO-U"
			class="popup-video me-5 bg-primary position-absolute bottom-0 mb-8 end-0 icon-shape icon_50 rounded-circle text-primary"
		>
			<i class="bi bi-play-fill text-white"></i>
		</a>
	</div>
</section>
<section class="bg-secondary-1">
	<div class="container border-bottom ">
		<div class="row pb-8">
			<div class="scroll-wrapper mask-image">
				<div class="item item1">
					<div class="d-flex align-items-center justify-content-center gap-3">
						<img src="assets/imgs/icon/icon-1.png" alt="brand" />
						<h2 class="m-0 text-dark">Astro</h2>
					</div>
				</div>
				<div class="item item2">
					<div class="d-flex align-items-center justify-content-center gap-3">
						<img src="assets/imgs/icon/icon-2.png" alt="brand" />
						<h2 class="m-0 text-dark">Purei</h2>
					</div>
				</div>
				<div class="item item3">
					<div class="d-flex align-items-center justify-content-center gap-3">
						<img src="assets/imgs/icon/icon-3.png" alt="brand" />
						<h2 class="m-0 text-dark">Freshzi</h2>
					</div>
				</div>
				<div class="item item4">
					<div class="d-flex align-items-center justify-content-center gap-3">
						<img src="assets/imgs/icon/icon-4.png" alt="brand" />
						<h2 class="m-0 text-dark">YellPure</h2>
					</div>
				</div>
				<div class="item item5">
					<div class="d-flex align-items-center justify-content-center gap-3">
						<img src="assets/imgs/icon/icon-5.png" alt="brand" />
						<h2 class="m-0 text-dark">ai.core</h2>
					</div>
				</div>
				<div class="item item6">
					<div class="d-flex align-items-center justify-content-center gap-3">
						<img src="assets/imgs/icon/icon-1.png" alt="brand" />
						<h2 class="m-0 text-dark">Astro</h2>
					</div>
				</div>
				<div class="item item7">
					<div class="d-flex align-items-center justify-content-center gap-3">
						<img src="assets/imgs/icon/icon-2.png" alt="brand" />
						<h2 class="m-0 text-dark">Purei</h2>
					</div>
				</div>
				<div class="item item8">
					<div class="d-flex align-items-center justify-content-center gap-3">
						<img src="assets/imgs/icon/icon-3.png" alt="brand" />
						<h2 class="m-0 text-dark">Freshzi</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
