<!--home 3 Section8-->
<section class="section-padding">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<span class="text-uppercase text-primary border border-primary-1 bg-white rounded-3 fs-7 py-1 px-2 fw-medium">News</span>
				<h1 class="ds-5 mb-8">Blog & Insights</h1>
			</div>
		</div>
		<div class="row wow img-custom-anim-top">
			<div class="col-md-4">
				<div class="position-relative hover-up my-5">
					<a href="blog-details.html"><img class="rounded-4 mb-3" src="assets/imgs/background/img-news-1.png" alt="inexa" /></a>
					<span>Nov 21, 2024</span>
					<span>&nbsp;/&nbsp;</span>
					<span>By <span class="fw-bold text-dark">Alonso</span></span>
					<h4 class="mt-3"><a href="blog-details.html"> Essential Tips for Designing Your Personal Portfolio Website 22</a></h4>
					<a class="text-white text-hover-white bg-primary position-absolute top-0 end-0 px-2 mt-4 me-5 rounded-3 text-uppercase fs-7" href="blog-list.html">design</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="position-relative hover-up my-5">
					<a href="blog-details.html"><img class="rounded-4 mb-3" src="assets/imgs/background/img-news-2.png" alt="inexa" /></a>
					<span>Nov 21, 2024</span>
					<span>&nbsp;/&nbsp;</span>
					<span>By <span class="fw-bold text-dark">Alice</span></span>
					<h4 class="mt-3"><a href="blog-details.html">Steps to Build an Effective Personal Designer Website</a></h4>
					<a class="text-white text-hover-white bg-primary position-absolute top-0 end-0 px-2 mt-4 me-5 rounded-3 text-uppercase fs-7" href="blog-list.html">UI/UX</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="position-relative hover-up my-5">
					<a href="blog-details.html"><img class="rounded-4 mb-3" src="assets/imgs/background/img-news-3.png" alt="inexa" /></a>
					<span>Nov 21, 2024</span>
					<span>&nbsp;/&nbsp;</span>
					<span>By <span class="fw-bold text-dark">Atens</span></span>
					<h4 class="mt-3"><a href="blog-details.html">Must-Have Elements for an Effective Personal Portfolio Website</a></h4>
					<a class="text-white text-hover-white bg-primary position-absolute top-0 end-0 px-2 mt-4 me-5 rounded-3 text-uppercase fs-7" href="blog-list.html">Branding</a>
				</div>
			</div>
		</div>
	</div>
</section>
