<!--home 3 Section6-->
<section class="section-padding bg-gradient">
	<div class="container">
		<div class="row">
			<div class="col text-center wow img-custom-anim-top">
				<span class="text-uppercase text-primary border border-primary-1 bg-white rounded-3 fs-7 py-1 px-2 fw-medium">pricing</span>
				<h1 class="ds-5">My service pricing</h1>
			</div>
		</div>
		<div class="row justify-content-center align-items-center wow img-custom-anim-top">
			<div class="col-md-4 pe-md-0 mt-5">
				<div class="bg-secondary-1 p-5 border border-end-md-0 rounded-end-md-0 rounded-4 card-hover">
					<h2 class="mb-4">For team</h2>
					<div class="position-relative border-bottom">
						<span class="text-dark position-absolute top-0 start-0">$</span>
						<span class="ms-2 text-primary ds-xs-1 fw-bold mb-0 odometer" data-count="49"></span>
						<span class="fs-7 text-secondaryd">/monthly</span>
					</div>
					<p class="mt-4">Elevate your presence with distinctive logos, color palettes, and brand.</p>
					<a href="#" class="btn btn-outline-secondary mt-3 w-100">Try For Free</a>
					<ul class="list-unstyled mt-5">
						<li>
							<div class="d-flex align-items-center mt-3">
								<p class="fw-medium text-dark mb-0">Dedicated design solution</p>
								<i class="fa-solid fa-check ms-auto text-primary"></i>
							</div>
						</li>
						<li>
							<div class="d-flex align-items-center mt-3">
								<p class="fw-medium text-dark mb-0">Custom printing design</p>
								<i class="fa-solid fa-check ms-auto text-primary"></i>
							</div>
						</li>
						<li>
							<div class="d-flex align-items-center mt-3">
								<p class="fw-medium text-dark mb-0">100 Screen design</p>
								<i class="fa-solid fa-check ms-auto text-primary"></i>
							</div>
						</li>
						<li>
							<div class="d-flex align-items-center mt-3">
								<p class="fw-medium text-dark mb-0">1 website design</p>
								<i class="fa-solid fa-check ms-auto text-primary"></i>
							</div>
						</li>
						<li>
							<div class="d-flex align-items-center mt-3">
								<p class="fw-medium text-dark mb-0">Branding design X 1</p>
								<i class="fa-solid fa-check ms-auto text-primary"></i>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 px-md-0 mt-5 py-8">
				<div class="bg-white p-5 border rounded-4 shadow-lg card-hover">
					<h2 class="mb-4">Enterprise</h2>
					<div class="position-relative border-bottom">
						<span class="text-dark position-absolute top-0 start-0">$</span>
						<span class="ms-2 text-primary ds-xs-1 fw-bold mb-0 odometer" data-count="99"></span>
						<span class="fs-7 text-secondaryd">/monthly</span>
					</div>
					<p class="mt-4">Elevate your presence with distinctive logos, color palettes, and brand.</p>
					<a href="#" class="btn btn-primary mt-4 w-100">Try For Free</a>
					<a href="get-quote.html" class="btn btn-outline-secondary mt-3 w-100">Get In Touch</a>
					<ul class="list-unstyled mt-5">
						<li>
							<div class="d-flex align-items-center mt-3">
								<p class="fw-medium text-dark mb-0">Dedicated design solution</p>
								<i class="fa-solid fa-check ms-auto text-primary"></i>
							</div>
						</li>
						<li>
							<div class="d-flex align-items-center mt-3">
								<p class="fw-medium text-dark mb-0">Custom printing design</p>
								<i class="fa-solid fa-check ms-auto text-primary"></i>
							</div>
						</li>
						<li>
							<div class="d-flex align-items-center mt-3">
								<p class="fw-medium text-dark mb-0">100 Screen design</p>
								<i class="fa-solid fa-check ms-auto text-primary"></i>
							</div>
						</li>
						<li>
							<div class="d-flex align-items-center mt-3">
								<p class="fw-medium text-dark mb-0">1 website design</p>
								<i class="fa-solid fa-check ms-auto text-primary"></i>
							</div>
						</li>
						<li>
							<div class="d-flex align-items-center mt-3">
								<p class="fw-medium text-dark mb-0">Branding design X 1</p>
								<i class="fa-solid fa-check ms-auto text-primary"></i>
							</div>
						</li>
						<li>
							<div class="d-flex align-items-center mt-3">
								<p class="fw-medium text-dark mb-0">24/7 online support</p>
								<i class="fa-solid fa-check ms-auto text-primary"></i>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 ps-md-0 mt-5">
				<div class="bg-secondary-1 p-5 border border-start-md-0 rounded-start-md-0 rounded-4 card-hover">
					<h2 class="mb-4">For team</h2>
					<div class="position-relative border-bottom">
						<span class="text-dark position-absolute top-0 start-0">$</span>
						<span class="ms-2 text-primary ds-xs-1 fw-bold mb-0 odometer" data-count="299"></span>
						<span class="fs-7 text-secondaryd">/monthly</span>
					</div>
					<p class="mt-4">Elevate your presence with distinctive logos, color palettes, and brand.</p>
					<a href="#" class="btn btn-outline-secondary mt-3 w-100">Try For Free</a>
					<ul class="list-unstyled mt-5">
						<li>
							<div class="d-flex align-items-center mt-3">
								<p class="fw-medium text-dark mb-0">Dedicated design solution</p>
								<i class="fa-solid fa-check ms-auto text-primary"></i>
							</div>
						</li>
						<li>
							<div class="d-flex align-items-center mt-3">
								<p class="fw-medium text-dark mb-0">Custom printing design</p>
								<i class="fa-solid fa-check ms-auto text-primary"></i>
							</div>
						</li>
						<li>
							<div class="d-flex align-items-center mt-3">
								<p class="fw-medium text-dark mb-0">100 Screen design</p>
								<i class="fa-solid fa-check ms-auto text-primary"></i>
							</div>
						</li>
						<li>
							<div class="d-flex align-items-center mt-3">
								<p class="fw-medium text-dark mb-0">1 website design</p>
								<i class="fa-solid fa-check ms-auto text-primary"></i>
							</div>
						</li>
						<li>
							<div class="d-flex align-items-center mt-3">
								<p class="fw-medium text-dark mb-0">Branding design X 1</p>
								<i class="fa-solid fa-check ms-auto text-primary"></i>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row wow img-custom-anim-left">
			<div class="col-12">
				<div class="text-center mt-8">
					<div class="d-flex flex-md-row flex-column align-items-center justify-content-center">
						<p class="mb-0 me-3">Most experienced services about <span class="text-dark fw-bold">For Enterprise</span></p>
						<a href="get-quote.html" class="btn btn-outline-secondary mt-3 mt-md-0">Contact Us</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
