<!--home 3 Section5-->
<section class=" pb-120 bg-secondary-1 position-relative">
	<div class="container border-top">
		<div class="row pt-120">
			<div class="col-lg-5 wow img-custom-anim-left pt-1">
				<span class="text-uppercase text-primary border border-primary-1 bg-white rounded-3 fs-7 py-1 px-2 fw-medium text-nowrap">experience & education</span>
				<h1 class="ds-5 mb-8">
					Resume of experience <br class="d-none d-md-block" />
					& education
				</h1>
			</div>
			<div class="col-2 ms-auto wow img-custom-anim-left">
				<div class="position-relative mt-10 d-none d-lg-block">
					<div class="swiper-button-next">
						<i class="bi bi-arrow-right"></i>
					</div>
					<div class="swiper-button-prev ms-8">
						<i class="bi bi-arrow-left"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<span class="swipper-root"></span>
			</div>
		</div>
	</div>
	<div class="box-swiper-padding">
		<div class="swiper slider-5 py-5 wow img-custom-anim-right">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="resume d-flex p-6 bg-white rounded-4 hover-up shadow-sm">
						<div class="w-100 ">
							<div class="position-relative avatar avatar-xxl">
								<img class="rounded-4 d-block" src="assets/imgs/avatar/avatar-7.png" alt="inexa" />
								<div class="icon-shape icon-md bg-primary rounded-circle position-absolute top-100 start-50 translate-middle">
									<img src="assets/imgs/icon/badge-icon-sm.png" alt="inexa" />
								</div>
							</div>
						</div>
						<div class="d-flex flex-column justify-content-between">
							<p class="text-dark mb-0 pe-2 ds-xs-6">
								<span class="opacity-25">“</span> Exceptional service! My website never looked better. Truly top-notch stylists and unmatched personalized care.
								This is one of my favorite places to visit for a ui/ux website procedure and a regular. <span class="opacity-25">”</span>
							</p>
							<div class="d-flex justify-content-between align-items-center">
								<a href="#">
									<h3 class="fs-4">Miranda H. Halim</h3>
									<p class="text-primary fw-normal fs-7 text-uppercase mb-0">FOUNDER & CEO</p>
								</a>
								<div class="group_star">
									<div class="d-flex  gap-1 align-items-center px-2 py-1 border rounded-pill d-inline-flex">
										<i class="fa-solid fa-star text-primary fs-8"></i>
										<i class="fa-solid fa-star text-primary fs-8"></i>
										<i class="fa-solid fa-star text-primary fs-8"></i>
										<i class="fa-solid fa-star text-primary fs-8"></i>
										<i class="fa-solid fa-star text-primary fs-8"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="resume d-flex p-6 bg-white rounded-4 hover-up shadow-sm">
						<div class="w-100 ">
							<div class="position-relative avatar avatar-xxl">
								<img class="rounded-4 d-block" src="assets/imgs/avatar/avatar-8.png" alt="inexa" />
								<div class="icon-shape icon-md bg-primary rounded-circle position-absolute top-100 start-50 translate-middle">
									<img src="assets/imgs/icon/badge-icon-sm.png" alt="inexa" />
								</div>
							</div>
						</div>
						<div class="d-flex flex-column justify-content-between">
							<p class="text-dark mb-0 pe-2 ds-xs-6">
								<span class="opacity-25">“</span> Exceptional service! My website never looked better. Truly top-notch stylists and unmatched personalized care.
								This is one of my favorite places to visit for a ui/ux website procedure and a regular. <span class="opacity-25">”</span>
							</p>
							<div class="d-flex justify-content-between align-items-center">
								<a href="#">
									<h3 class="fs-4">Rosalina D. William</h3>
									<p class="text-primary fw-normal fs-7 text-uppercase mb-0">head of idea</p>
								</a>
								<div class="group_star">
									<div class="d-flex  gap-1 align-items-center px-2 py-1 border rounded-pill d-inline-flex">
										<i class="fa-solid fa-star text-primary fs-8"></i>
										<i class="fa-solid fa-star text-primary fs-8"></i>
										<i class="fa-solid fa-star text-primary fs-8"></i>
										<i class="fa-solid fa-star text-primary fs-8"></i>
										<i class="fa-solid fa-star text-primary fs-8"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="resume d-flex p-6 bg-white rounded-4 hover-up shadow-sm">
						<div class="w-100 ">
							<div class="position-relative avatar avatar-xxl">
								<img class="rounded-4 d-block" src="assets/imgs/avatar/avatar-6.png" alt="inexa" />
								<div class="icon-shape icon-md bg-primary rounded-circle position-absolute top-100 start-50 translate-middle">
									<img src="assets/imgs/icon/badge-icon-sm.png" alt="inexa" />
								</div>
							</div>
						</div>
						<div class="d-flex flex-column justify-content-between">
							<p class="text-dark mb-0 pe-2 ds-xs-6">
								<span class="opacity-25">“</span> Exceptional service! My website never looked better. Truly top-notch stylists and unmatched personalized care.
								This is one of my favorite places to visit for a ui/ux website procedure and a regular. <span class="opacity-25">”</span>
							</p>
							<div class="d-flex justify-content-between align-items-center">
								<a href="#">
									<h3 class="fs-4">Miranda H. Halim</h3>
									<p class="text-primary fw-normal fs-7 text-uppercase mb-0">FOUNDER & CEO</p>
								</a>
								<div class="group_star">
									<div class="d-flex  gap-1 align-items-center px-2 py-1 border rounded-pill d-inline-flex">
										<i class="fa-solid fa-star text-primary fs-8"></i>
										<i class="fa-solid fa-star text-primary fs-8"></i>
										<i class="fa-solid fa-star text-primary fs-8"></i>
										<i class="fa-solid fa-star text-primary fs-8"></i>
										<i class="fa-solid fa-star text-primary fs-8"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="resume d-flex p-6 bg-white rounded-4 hover-up shadow-sm">
						<div class="w-100 ">
							<div class="position-relative avatar avatar-xxl">
								<img class="rounded-4 d-block" src="assets/imgs/avatar/avatar-1.png" alt="inexa" />
								<div class="icon-shape icon-md bg-primary rounded-circle position-absolute top-100 start-50 translate-middle">
									<img src="assets/imgs/icon/badge-icon-sm.png" alt="inexa" />
								</div>
							</div>
						</div>
						<div class="d-flex flex-column justify-content-between">
							<p class="text-dark mb-0 pe-2 ds-xs-6">
								<span class="opacity-25">“</span> Exceptional service! My website never looked better. Truly top-notch stylists and unmatched personalized care.
								This is one of my favorite places to visit for a ui/ux website procedure and a regular. <span class="opacity-25">”</span>
							</p>
							<div class="d-flex justify-content-between align-items-center">
								<a href="#">
									<h3 class="fs-4">Miranda H. Halim</h3>
									<p class="text-primary fw-normal fs-7 text-uppercase mb-0">FOUNDER & CEO</p>
								</a>
								<div class="group_star">
									<div class="d-flex  gap-1 align-items-center px-2 py-1 border rounded-pill d-inline-flex">
										<i class="fa-solid fa-star text-primary fs-8"></i>
										<i class="fa-solid fa-star text-primary fs-8"></i>
										<i class="fa-solid fa-star text-primary fs-8"></i>
										<i class="fa-solid fa-star text-primary fs-8"></i>
										<i class="fa-solid fa-star text-primary fs-8"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="resume d-flex p-6 bg-white rounded-4 hover-up shadow-sm">
						<div class="w-100 ">
							<div class="position-relative avatar avatar-xxl">
								<img class="rounded-4 d-block" src="assets/imgs/avatar/avatar-2.png" alt="inexa" />
								<div class="icon-shape icon-md bg-primary rounded-circle position-absolute top-100 start-50 translate-middle">
									<img src="assets/imgs/icon/badge-icon-sm.png" alt="inexa" />
								</div>
							</div>
						</div>
						<div class="d-flex flex-column justify-content-between">
							<p class="text-dark mb-0 pe-2 ds-xs-6">
								<span class="opacity-25">“</span> Exceptional service! My website never looked better. Truly top-notch stylists and unmatched personalized care.
								This is one of my favorite places to visit for a ui/ux website procedure and a regular. <span class="opacity-25">”</span>
							</p>
							<div class="d-flex justify-content-between align-items-center">
								<a href="#">
									<h3 class="fs-4">Miranda H. Halim</h3>
									<p class="text-primary fw-normal fs-7 text-uppercase mb-0">FOUNDER & CEO</p>
								</a>
								<div class="group_star">
									<div class="d-flex  gap-1 align-items-center px-2 py-1 border rounded-pill d-inline-flex">
										<i class="fa-solid fa-star text-primary fs-8"></i>
										<i class="fa-solid fa-star text-primary fs-8"></i>
										<i class="fa-solid fa-star text-primary fs-8"></i>
										<i class="fa-solid fa-star text-primary fs-8"></i>
										<i class="fa-solid fa-star text-primary fs-8"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container position-absolute bottom-0 start-50 translate-middle-x">
		<div class="row">
			<div class="col-12">
				<div class="swiper-scrollbar mb-9"></div>
			</div>
		</div>
	</div>
</section>
