<!--home 3 Section7-->
<section class="section-padding bg-secondary-1 border-top">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 pe-lg-10 wow img-custom-anim-left pt-1">
				<span class="text-uppercase text-primary border border-primary-1 bg-white rounded-3 fs-7 py-1 px-2 fw-medium">faq page</span>
				<h1 class="ds-5 mb-8">
					Get every single <br />
					answer here
				</h1>
				<div id="accordion">
					<div class="card mb-4 p-3 border-0 bg-gradient-1 rounded-4">
						<div class="card-header border-0 bg-gradient-1">
							<a class="collapsed text-dark fw-bold" data-bs-toggle="collapse" href="#collapseOne"> What is the main focus of your portfolio? </a>
						</div>
						<div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
							<div class="card-body">
								You may also realize cost savings from your energy efficient choices in your custom home. Federal tax credits for some green materials can allow you
								to deduct as much.
							</div>
						</div>
					</div>
					<div class="card mb-4 p-3 border-0 bg-gradient-1 rounded-4">
						<div class="card-header border-0 bg-gradient-1">
							<a class="collapsed text-dark fw-bold" data-bs-toggle="collapse" href="#collapseTwo"> Will you include a blog or other written content? </a>
						</div>
						<div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
							<div class="card-body">
								You may also realize cost savings from your energy efficient choices in your custom home. Federal tax credits for some green materials can allow you
								to deduct as much.
							</div>
						</div>
					</div>
					<div class="card mb-4 p-3 border-0 bg-gradient-1 rounded-4">
						<div class="card-header border-0 bg-gradient-1">
							<a class="collapsed text-dark fw-bold" data-bs-toggle="collapse" href="#collapseThree"> How frequently will you update your portfolio? </a>
						</div>
						<div id="collapseThree" class="collapse" data-bs-parent="#accordion">
							<div class="card-body">
								You may also realize cost savings from your energy efficient choices in your custom home. Federal tax credits for some green materials can allow you
								to deduct as much.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 text-lg-end text-center wow img-custom-anim-right">
				<div class="d-inline-flex ps-5 position-relative">
					<div class="zoom-img rounded-4">
						<img src="assets/imgs/background/img-faq.png" alt="inexa" />
					</div>
					<div class="position-absolute bottom-0 start-0 ms-5 translate-middle-x mb-5 bg-white icon_115 icon-shape rounded-circle shadow">
						<img class="position-relative" src="assets/imgs/icon/email.png" alt="inexa" />
						<div class="position-absolute top-50 start-50 translate-middle w-75">
							<img class="ribbonRotate dark-reverse" src="assets/imgs/icon/badge-text-1.png" alt="inexa" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
