<!--home 3 Section4-->
<section class="home3_section2 section-padding bg-secondary-1">
	<div class="container wow img-custom-anim-top">
		<div class="row">
			<div class="col text-center">
				<span class="text-uppercase text-primary border border-primary-1 bg-white rounded-3 fs-7 py-1 px-2 fw-medium">services</span>
				<h1 class="ds-5">My expertise</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 mt-5 pb-5">
				<div class="experti p-5 bg-white rounded-4 hover-up position-relative z-1 shadow">
					<a href="#">
						<img src="assets/imgs/icon/icon-7.png" alt="inexa" />
						<h1 class=" position-relative z-1">Branding</h1>
						<p class="text-secondary">Elevate your presence with distinctive logos, color palettes, and brand guidelines that leave a lasting impression.</p>
						<span class="stroke_light_xl position-absolute top-0 end-0 lh-1 z-0">01</span>
					</a>
				</div>
			</div>
			<div class="col-lg-4 mt-5 pb-5">
				<div class="experti p-5 bg-white rounded-4 hover-up position-relative z-1 shadow">
					<a href="#">
						<img src="assets/imgs/icon/icon-8.png" alt="inexa" />
						<h1 class=" position-relative z-1">Consultancy</h1>
						<p class="text-secondary">Elevate your presence with distinctive logos, color palettes, and brand guidelines that leave a lasting impression.</p>
						<span class="stroke_light_xl position-absolute top-0 end-0 lh-1 z-0">02</span>
					</a>
				</div>
			</div>
			<div class="col-lg-4 mt-5 pb-5">
				<div class="experti p-5 bg-white rounded-4 hover-up position-relative z-1 shadow">
					<a href="#">
						<img src="assets/imgs/icon/icon-9.png" alt="inexa" />
						<h1 class=" position-relative z-1">Product design</h1>
						<p class="text-secondary">Elevate your presence with distinctive logos, color palettes, and brand guidelines that leave a lasting impression.</p>
						<span class="stroke_light_xl position-absolute top-0 end-0 lh-1 z-0">03</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
