<!-- Footer -->
<footer>
	<div class="footer-home1 bg-black bg-dark-black pt-120 positon-relative overflow-hidden">
		<div class="container mb-10">
			<div class="row">
				<div class="col-12 d-flex align-items-center">
					<div>
						<h1 class="text-white fs-120 wow img-custom-anim-left">
							Let’s have a<br />
							<span class="fst-italic text-primary pe-3 ps-lg-8">conversation!</span>
						</h1>
					</div>
					<div class="align-self-end mb-10 d-none d-lg-block wow img-custom-anim-left">
						<img class="positon-absolute" src="assets/imgs/icon/line.png" alt="inexa" />
					</div>
					<div>
						<a href="get-quote.html" class="card-hover icon-shape rounded-circle icon_140 bg-white">let’s talk</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container pb-120">
			<div class="row">
				<div class="col-lg-3 mb-5 mb-lg-0 wow img-custom-anim-left">
					<img src="assets/imgs/logo/logo-white.svg" alt="logo" />
					<p class="mt-5">
						You may also realize cost savings from your energy efficient choices in your custom home. Federal tax credits for some green materials can allow you to
						deduct as much.
					</p>
					<div class="d-flex gap-4">
						<a href="https://www.facebook.com/" class="text-reset">
							<i class="bi bi-facebook"></i>
						</a>
						<a href="https://twitter.com/" class="text-reset">
							<i class="bi bi-twitter-x"></i>
						</a>
						<a href="https://www.instagram.com/" class="text-reset">
							<i class="bi bi-instagram"></i>
						</a>
						<a href="https://www.youtube.com/" class="text-reset">
							<i class="bi bi-youtube"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-7 offset-lg-2 wow img-custom-anim-top">
					<div class="row">
						<div class="col-md-4 ps-5 ps-md-3">
							<h4 class="text-white mb-5">Get in touch</h4>
							<a href="tel:+12345678900" class="d-flex align-items-start mb-3 text-secondary">
								<i class="bi bi-telephone-fill text-white me-3"></i>+123 (456) 789 00
							</a>
							<a href="mailto:hello@inexa" class="d-flex align-items-start mb-3 text-secondary">
								<i class="bi bi-envelope-open-fill me-3 text-white"></i>hello@inexa.com
							</a>
							<a href="https://www.google.com/maps" class="d-flex align-items-start mb-3 text-secondary">
								<i class="bi bi-geo-alt-fill me-3 text-white"></i>12/A, New Booston Tower,<br />NYC, USA
							</a>
						</div>
						<div class="col-md-4 ps-5 col-6 ps-md-8">
							<h4 class="text-white mb-5">Essectial</h4>
							<ul class="list-unstyled">
								<li class=" mb-3">
									<a class="text-secondary" href="index.html"> Home </a>
								</li>
								<li class=" mb-3">
									<a class="text-secondary" href="#"> About </a>
								</li>
								<li class=" mb-3">
									<a class="text-secondary" href="#"> Services </a>
								</li>
								<li class=" mb-3">
									<a class="text-secondary" href="#"> Pricing </a>
								</li>
								<li class=" mb-3">
									<a class="text-secondary" href="#"> FAQ </a>
								</li>
							</ul>
						</div>
						<div class="col-md-4 col-6">
							<ul class="list-unstyled mt-8">
								<li class="mb-3">
									<a class="text-secondary" href="#"> Careers </a>
								</li>
								<li class="mb-3">
									<a class="text-secondary" href="get-quote.html"> Contact </a>
								</li>
								<li class="mb-3">
									<a class="text-secondary" href="#"> Refund Policy </a>
								</li>
								<li class="mb-3">
									<a class="text-secondary" href="#"> Design System </a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col bg-dark py-4 d-flex justify-content-center">
		<p class=" mb-0">Copyright & Design &nbsp;<a class="fw-bold text-white" href="https://alithemes.com" target="_blank">@AliThemes</a>&nbsp;-&nbsp;2024</p>
	</div>
</footer>
