<!-- Navbar -->
<header>
	<nav class="navbar custom-container navbar-light start-50 translate-middle-x navbar-expand-lg py-0 mt-lg-4 mt-3 z-5 tcmenu__wrap">
		<div class="d-flex p-3 p-lg-0 justify-content-between align-items-center w-100">
			<!--Logo-->
			<a class="navbar-brand ms-lg-4 d-flex main-logo" href="index.html">
				<img src="assets/imgs/logo/favicon.svg" alt="inexa" />
				<span class="text-dark">Inexa</span>
			</a>
			<div class="tcmenu__navbar-wrap tcmenu__main-menu d-none d-lg-flex">@@include("main-menu.html")</div>
			<div class="d-flex align-items-center me-lg-4 gap-4">
				@@include("dark-light-switcher.html")
				<a href="get-quote.html" class="menu-tigger btn btn-outline-secondary d-none d-md-block"> Let’s Talk </a>
				<!--Mobile-->
				<div class="mobile-nav-toggler  d-lg-none rounded-circle bg-primary icon-shape icon-lg">
					<img src="assets/imgs/icon/dot-menu.png" alt="inexa" />
				</div>
			</div>
		</div>
	</nav>
	<!-- prettier-ignore -->
	@@include("mobi-menu.html")
    @@include("offcanvas.html")
</header>
