<!--blog list-->
<section class="pt-120">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="d-inline-flex position-relative mb-10 mb-lg-0">
					<div class="zoom-img rounded-4 wow img-custom-anim-left">
						<img src="assets/imgs/background/img-page-faq.png" alt="inexa" />
					</div>
					<div class="position-absolute top-md-100 start-md-100 translate-middle-md bottom-0 end-0 bg-white icon_115 icon-shape rounded-circle shadow">
						<img class="position-relative" src="assets/imgs/icon/email.png" alt="inexa" />
						<div class="position-absolute top-50 start-50 translate-middle w-75">
							<img class="ribbonRotate dark-reverse" src="assets/imgs/icon/badge-text-1.png" alt="inexa" />
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="text-primary fw-normal fs-7 text-uppercase text-decoration-underline wow img-custom-anim-top">Why We Are Here?</div>
				<h1 class="fw-bold ds-5 mt-4 wow img-custom-anim-top">Common Answers</h1>
				<p class="mb-5 wow img-custom-anim-top">Aliquam lorem antelen, dapibus in, wiver quisfeugiat Phasellus viverra nulla ut met varius laoreet srtrum.</p>
				<div id="accordion">
					<div class="card mb-4 p-3 border-0 bg-secondary-1 rounded-4 wow img-custom-anim-top">
						<div class="card-header border-0 bg-secondary-1">
							<a class="collapsed text-dark fw-bold" data-bs-toggle="collapse" href="#collapseOne"> What is the main focus of your portfolio? </a>
						</div>
						<div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
							<div class="card-body">
								You may also realize cost savings from your energy efficient choices in your custom home. Federal tax credits for some green materials can allow you
								to deduct as much.
							</div>
						</div>
					</div>
					<div class="card mb-4 p-3 border-0 bg-secondary-1 rounded-4 wow img-custom-anim-top">
						<div class="card-header border-0 bg-secondary-1">
							<a class="collapsed text-dark fw-bold" data-bs-toggle="collapse" href="#collapseTwo"> Will you include a blog or other written content? </a>
						</div>
						<div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
							<div class="card-body">
								You may also realize cost savings from your energy efficient choices in your custom home. Federal tax credits for some green materials can allow you
								to deduct as much.
							</div>
						</div>
					</div>
					<div class="card mb-4 p-3 border-0 bg-secondary-1 rounded-4 wow img-custom-anim-top">
						<div class="card-header border-0 bg-secondary-1">
							<a class="collapsed text-dark fw-bold" data-bs-toggle="collapse" href="#collapseThree"> How frequently will you update your portfolio? </a>
						</div>
						<div id="collapseThree" class="collapse" data-bs-parent="#accordion">
							<div class="card-body">
								You may also realize cost savings from your energy efficient choices in your custom home. Federal tax credits for some green materials can allow you
								to deduct as much.
							</div>
						</div>
					</div>
					<div class="card mb-6 p-3 border-0 bg-secondary-1 rounded-4 wow img-custom-anim-top">
						<div class="card-header border-0 bg-secondary-1">
							<a class="collapsed text-dark fw-bold" data-bs-toggle="collapse" href="#collapseFour"> What is the main focus of your portfolio? </a>
						</div>
						<div id="collapseFour" class="collapse show" data-bs-parent="#accordion">
							<div class="card-body">
								You may also realize cost savings from your energy efficient choices in your custom home. Federal tax credits for some green materials can allow you
								to deduct as much.
							</div>
						</div>
					</div>
				</div>
				<span>Still have any questions?</span>
				<a href="get-quote.html" class="text-primary ms-2">Contact Us</a>
			</div>
		</div>
	</div>
</section>
