<!--Home 1 Section 1-->
<section class="home1_section1 position-relative bg-secondary-1 overflow-hidden">
	<div class="scroll-move-left positon-relative">
		<div class="text-move">
			<div class="d-flex gap-4">
				<p class="stroke_light_lg lh-1 wow img-custom-anim-left opacity-75">UI & UX Designer</p>
				<p class="stroke_light_lg lh-1 wow img-custom-anim-left opacity-75">Branding Designer</p>
			</div>
		</div>
	</div>
	<div class="scroll-move-right">
		<p class="stroke_dark_lg dark-green lh-1 wow img-custom-anim-right">Alson Ori</p>
	</div>
	<div class="container position-relative">
		<div class="text-end pt-5 position-absolute bottom-0 end-0" data-aos="zoom-in">
			<div class="parallax-item">
				<img src="assets/imgs/human/human-1.png" alt="inexa" />
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-between container position-absolute top-40 start-50 translate-middle">
		<div class="text-start position-absoluteq top-40 start-0" data-aos="fade-up">
			<p class="fs-5 text-dark scroll-move-up">Freelance</p>
			<p class="fs-5 fw-bold text-dark scroll-move-up">User Interface Designer</p>
		</div>
		<div class="position-absolute top-40 end-0" data-aos="fade-up">
			<div class="hover-up">
				<a href="#" class="btn btn-primary scroll-zoom-out">Download CV</a>
			</div>
		</div>
	</div>
</section>
