<!--Home 1 Section 6-->
<section class="home1_section6 pt-120 bg-black position-relative bg-custom-2">
	<div class="container">
		<div class="row align-items-end">
			<div class="col-lg-3 wow img-custom-anim-left">
				<div class="text-primary fw-normal fs-7 text-uppercase text-decoration-underline">huge honor</div>
				<h1 class="fw-bold ds-5 text-white mb-lg-0 mb-5">Get rewards from them.</h1>
			</div>
			<div class="col-lg-6 wow img-custom-anim-left">
				<p class="mb-0 w-80">
					You may also realize cost savings from your energy efficient choices in your custom home. Federal tax credits for some green materials can allow you to deduct
					as much as we can do it.
				</p>
			</div>
			<div class="col-lg-3 tex-lg-end mt-4">
				<a href="get-quote.html" class="btn btn-outline-dark text-white wow img-custom-anim-left">Get In Touch</a>
			</div>
			<div class="col-lg-9 offset-lg-3">
				<div class="row mt-5">
					<div class="col-lg-6 wow img-custom-anim-left">
						<div class="awards border-top border-secondary border-bottom py-4 position-relative">
							<p>2020</p>
							<h3 class="text-white">Site of the day</h3>
							<p>You may also realize cost savings from your energy efficient choices in your custom home.</p>
							<img class="position-absolute top-0 end-0 mt-5" src="assets/imgs/logo/google.png" alt="inexa" />
						</div>
					</div>
					<div class="col-lg-6 wow img-custom-anim-left">
						<div class="awards border-top border-secondary border-bottom py-4 position-relative">
							<p>2020</p>
							<h3 class="text-white">Best business model</h3>
							<p>You may also realize cost savings from your energy efficient choices in your custom home.</p>
							<img class="position-absolute top-0 end-0 mt-5" src="assets/imgs/logo/marvel.png" alt="inexa" />
						</div>
					</div>
					<div class="col-lg-6 wow img-custom-anim-left">
						<div class="awards border-top border-secondary border-bottom py-4 position-relative">
							<p>2020</p>
							<h3 class="text-white">Motion designer</h3>
							<p>You may also realize cost savings from your energy efficient choices in your custom home.</p>
							<img class="position-absolute top-0 end-0 mt-5" src="assets/imgs/logo/sprint.png" alt="inexa" />
						</div>
					</div>
					<div class="col-lg-6 wow img-custom-anim-left">
						<div class="awards border-top border-secondary border-bottom py-4 position-relative">
							<p>2020</p>
							<h3 class="text-white">Best UX designer</h3>
							<p>You may also realize cost savings from your energy efficient choices in your custom home.</p>
							<img class="position-absolute top-0 end-0 mt-5" src="assets/imgs/logo/verizon.png" alt="inexa" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row overflow-hidden">
			<p class="stroke_dark lh-1 text-capitalize wow img-custom-anim-left">Awards</p>
		</div>
	</div>
	<div class="video-home-1 position-absolute start-0 wow img-custom-anim-top">
		<img src="assets/imgs/video/bg-video.png" alt="about" class="img-fluid" />
		<a
			href="https://www.youtube.com/watch?v=gXFATcwrO-U"
			class="play-btn popup-video position-absolute top-50 start-50 translate-middle icon-shape icon-xl rounded-circle text-primary"
		>
			<i class="bi bi-play-fill"></i>
		</a>
	</div>
</section>
