<!--Home 1 Section 3-->
<section class="home1_section3 pb-120 overflow-hidden">
	<div class="container">
		<div class="text-primary fw-normal fs-7 text-uppercase text-decoration-underline"><span class="scroll-move-up">What I Offer</span></div>
		<div id="accordion">
			<div class="card mb-4 p-3 border-0">
				<div class="wow img-custom-anim-right">
					<a class="collapsed text-dark fw-bold" data-bs-toggle="collapse" href="#collapseOne">
						<span class="service-item d-flex align-items-center w-100 line-underline">
							<img src="assets/imgs/icon/up-arrow.png" alt="inexa" />
							<span class="lh-sm">UI & UX Design</span>
						</span>
					</a>
				</div>
				<div id="collapseOne" class="collapse" data-bs-parent="#accordion">
					<div class="row mt-5 align-items-center card-body">
						<div class="col-lg-6">
							<div class="zoom-img d-inline-flex rounded-4">
								<img src="assets/imgs/services/service-3.png" alt="inexa" />
							</div>
						</div>
						<div class="col-lg-6 ps-lg-4">
							<h1 class="ds-6">Website Design: Crafting attractive, user-friendly layouts</h1>
							<p class="pe-5 mb-5">
								You may also realize cost savings from your energy efficient choices in your custom home. Federal tax credits for some green materials can allow you
								to deduct as much.
							</p>
							<a href="get-quote.html" class="btn btn-outline-secondary fs-7">Hire Me Now</a>
						</div>
					</div>
				</div>
			</div>
			<div class="card mb-4 p-3 border-0">
				<div class="wow img-custom-anim-right">
					<a class="collapsed text-dark fw-bold" data-bs-toggle="collapse" href="#collapseTwo">
						<span class="service-item d-flex align-items-center line-underline">
							<img src="assets/imgs/icon/up-arrow.png" alt="inexa" />
							<span class="lh-sm">4D Animations</span>
						</span>
					</a>
				</div>
				<div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
					<div class="row mt-5 align-items-center card-body">
						<div class="col-lg-6">
							<div class="zoom-img d-inline-flex rounded-4">
								<img src="assets/imgs/services/service-0.png" alt="inexa" />
							</div>
						</div>
						<div class="col-lg-6 ps-lg-4">
							<h1 class="ds-6">UI Design: Creating interactive, intuitive interfaces</h1>
							<p class="pe-5 mb-5">
								You may also realize cost savings from your energy efficient choices in your custom home. Federal tax credits for some green materials can allow you
								to deduct as much.
							</p>
							<a href="get-quote.html" class="btn btn-outline-secondary fs-7">Hire Me Now</a>
						</div>
					</div>
				</div>
			</div>
			<div class="card mb-4 p-3 border-0">
				<div class="wow img-custom-anim-right">
					<a class="collapsed text-dark fw-bold" data-bs-toggle="collapse" href="#collapseThree">
						<span class="service-item d-flex align-items-center line-underline">
							<img src="assets/imgs/icon/up-arrow.png" alt="inexa" />
							<span>ROI Consultancy</span>
						</span>
					</a>
				</div>
				<div id="collapseThree" class="collapse show" data-bs-parent="#accordion">
					<div class="row mt-5 align-items-center card-body">
						<div class="col-lg-6">
							<div class="zoom-img d-inline-flex rounded-4">
								<img src="assets/imgs/services/service-1.png" alt="inexa" />
							</div>
						</div>
						<div class="col-lg-6 ps-lg-4">
							<h1 class="ds-6">UX Design: Improving usability and accessibility</h1>
							<p class="pe-5 mb-5">
								You may also realize cost savings from your energy efficient choices in your custom home. Federal tax credits for some green materials can allow you
								to deduct as much.
							</p>
							<a href="get-quote.html" class="btn btn-outline-secondary fs-7">Hire Me Now</a>
						</div>
					</div>
				</div>
			</div>
			<div class="card mb-4 p-3 border-0">
				<div class="wow img-custom-anim-right">
					<a class="collapsed text-dark fw-bold" data-bs-toggle="collapse" href="#collapseFour">
						<span class="service-item d-flex align-items-center line-underline">
							<img src="assets/imgs/icon/up-arrow.png" alt="inexa" />
							<span>Custom Design</span>
						</span>
					</a>
				</div>
				<div id="collapseFour" class="collapse" data-bs-parent="#accordion">
					<div class="row mt-5 align-items-center card-body">
						<div class="col-lg-6">
							<div class="zoom-img d-inline-flex rounded-4">
								<img src="assets/imgs/services/service-2.png" alt="inexa" />
							</div>
						</div>
						<div class="col-lg-6 ps-lg-4">
							<h1 class="ds-6">SEO Optimization: Boosting website visibility on search engines.</h1>
							<p class="pe-5 mb-5">
								You may also realize cost savings from your energy efficient choices in your custom home. Federal tax credits for some green materials can allow you
								to deduct as much.
							</p>
							<a href="get-quote.html" class="btn btn-outline-secondary fs-7">Hire Me Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
