<!--Home 1 Section 5-->
<section class="home1_section5 section-padding overflow-x-hidden">
	<div class="container">
		<div class="container">
			<div class="text-center position-relative">
				<p class="stroke_blur_right wow img-custom-anim-left">Testimonials</p>
				<div class="position-absolute bottom-0 end-0 mb-5 bg-primary icon_160 icon-shape rounded-circle shadow">
					<div class=" border icon-shape icon-xxl rounded-circle">
						<img class="position-relative p-3" src="assets/imgs/icon/badge-icon-2.png" alt="inexa" />
					</div>
					<div class="position-absolute top-50 start-50 translate-middle w-75">
						<img class="ribbonRotate" src="assets/imgs/icon/badge-2.png" alt="inexa" />
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row wow img-custom-anim-left">
				<div class="col-lg-3 position-relative">
					<div class="slider-1-thumb swiper pb-5">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="avatar avatar-xl position-relative">
									<img class="rounded-circle" src="assets/imgs/avatar/avatar-1.png" alt="inexa" />
									<div class="icon-shape icon-md rounded-circle position-absolute top-100 start-50 translate-middle">
										<img src="assets/imgs/icon/badge-icon-sm.png" alt="inexa" />
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="avatar avatar-xl position-relative">
									<img class="rounded-circle" src="assets/imgs/avatar/avatar-12.png" alt="inexa" />
									<div class="icon-shape icon-md rounded-circle position-absolute top-100 start-50 translate-middle">
										<img src="assets/imgs/icon/badge-icon-sm.png" alt="inexa" />
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="avatar avatar-xl position-relative">
									<img class="rounded-circle" src="assets/imgs/avatar/avatar-3.png" alt="inexa" />
									<div class="icon-shape icon-md rounded-circle position-absolute top-100 start-50 translate-middle">
										<img src="assets/imgs/icon/badge-icon-sm.png" alt="inexa" />
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="avatar avatar-xl position-relative">
									<img class="rounded-circle" src="assets/imgs/avatar/avatar-11.png" alt="inexa" />
									<div class="icon-shape icon-md rounded-circle position-absolute top-100 start-50 translate-middle">
										<img src="assets/imgs/icon/badge-icon-sm.png" alt="inexa" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-9 mt-lg-0 mt-10 wow img-custom-anim-left">
					<!-- Swiper -->
					<div class="swiper slider-1">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="review_comment">
									<div class="d-flex">
										<a href="#">
											<h3>Miranda H. Halim</h3>
											<p class="text-primary fw-normal fs-7 text-uppercase mb-0">FOUNDER & CEO</p>
										</a>
										<div class="group_star">
											<div class="d-flex gap-1 align-items-center px-2 py-1 ms-4 border rounded-pill d-inline-flex">
												<i class="bi bi-star-fill text-primary"></i>
												<i class="bi bi-star-fill text-primary"></i>
												<i class="bi bi-star-fill text-primary"></i>
												<i class="bi bi-star-fill text-primary"></i>
												<i class="bi bi-star-fill text-primary"></i>
											</div>
										</div>
									</div>
									<p class="ds-xs-4 text-black fw-bold border-top mt-5 pt-5">
										<span class="opacity-25">“</span>
										Exceptional service! My website never looked better. Truly top-notch stylists and unmatched personalized care. This is one of my favorite
										places to visit for a website uix procedure and a regular dermatologist check-up!
										<span class="opacity-25">”</span>
									</p>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="review_comment">
									<div class="d-flex">
										<a href="#">
											<h3>Miranda H. Halim</h3>
											<p class="text-primary fw-normal fs-7 text-uppercase mb-0">FOUNDER & CEO</p>
										</a>
										<div class="group_star">
											<div class="d-flex gap-1 align-items-center px-2 py-1 ms-4 border rounded-pill d-inline-flex">
												<i class="bi bi-star-fill text-primary"></i>
												<i class="bi bi-star-fill text-primary"></i>
												<i class="bi bi-star-fill text-primary"></i>
												<i class="bi bi-star-fill text-primary"></i>
												<i class="bi bi-star-fill text-primary"></i>
											</div>
										</div>
									</div>
									<h1 class="ds-xs-4 border-top mt-5 pt-5">
										<span class="opacity-25">“</span>
										Exceptional service! My website never looked better. Truly top-notch stylists and unmatched personalized care. This is one of my favorite
										places to visit for a website uix procedure and a regular dermatologist check-up!
										<span class="opacity-25">”</span>
									</h1>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="review_comment">
									<div class="d-flex">
										<a href="#">
											<h3>Miranda H. Halim</h3>
											<p class="text-primary fw-normal fs-7 text-uppercase mb-0">FOUNDER & CEO</p>
										</a>
										<div class="group_star">
											<div class="d-flex gap-1 align-items-center px-2 py-1 ms-4 border rounded-pill d-inline-flex">
												<i class="bi bi-star-fill text-primary"></i>
												<i class="bi bi-star-fill text-primary"></i>
												<i class="bi bi-star-fill text-primary"></i>
												<i class="bi bi-star-fill text-primary"></i>
												<i class="bi bi-star-fill text-primary"></i>
											</div>
										</div>
									</div>
									<h1 class="ds-xs-4 border-top mt-5 pt-5">
										<span class="opacity-25">“</span>
										Exceptional service! My website never looked better. Truly top-notch stylists and unmatched personalized care. This is one of my favorite
										places to visit for a website uix procedure and a regular dermatologist check-up!
										<span class="opacity-25">”</span>
									</h1>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="review_comment">
									<div class="d-flex">
										<a href="#">
											<h3>Miranda H. Halim</h3>
											<p class="text-primary fw-normal fs-7 text-uppercase mb-0">FOUNDER & CEO</p>
										</a>
										<div class="group_star">
											<div class="d-flex gap-1 align-items-center px-2 py-1 ms-4 border rounded-pill d-inline-flex">
												<i class="bi bi-star-fill text-primary"></i>
												<i class="bi bi-star-fill text-primary"></i>
												<i class="bi bi-star-fill text-primary"></i>
												<i class="bi bi-star-fill text-primary"></i>
												<i class="bi bi-star-fill text-primary"></i>
											</div>
										</div>
									</div>
									<p class="ds-xs-4 text-black fw-bold border-top mt-5 pt-5">
										<span class="opacity-25">“</span>
										Exceptional service! My website never looked better. Truly top-notch stylists and unmatched personalized care. This is one of my favorite
										places to visit for a website uix procedure and a regular dermatologist check-up!
										<span class="opacity-25">”</span>
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- Swiper JS -->
				</div>
			</div>
			<div class="row pt-120">
				<div class="col-lg-3 col-md-6 mb-1 text-center">
					<div class="brand bg-secondary-1 box-320 rounded-4 icon-shape wow img-custom-anim-top">
						<a href="#" class="brand_item rounded-3 box-300 d-flex align-items-center justify-content-center gap-3">
							<img src="assets/imgs/icon/icon-1.png" alt="brand" />
							<h2 class="m-0 text-dark">Astro</h2>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 mb-1 text-center">
					<div class="brand bg-secondary-1 box-320 rounded-4 icon-shape wow img-custom-anim-top">
						<a href="#" class="brand_item rounded-3 box-300 d-flex align-items-center justify-content-center gap-3">
							<img src="assets/imgs/icon/icon-2.png" alt="brand" />
							<h2 class="m-0 text-dark">Purei</h2>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 mb-1 text-center">
					<div class="brand bg-secondary-1 box-320 rounded-4 icon-shape wow img-custom-anim-top">
						<a href="#" class="brand_item rounded-3 box-300 d-flex align-items-center justify-content-center gap-3">
							<img src="assets/imgs/icon/icon-3.png" alt="brand" />
							<h2 class="m-0 text-dark">Freshzi</h2>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 mb-1 text-center">
					<div class="brand bg-secondary-1 box-320 rounded-4 icon-shape wow img-custom-anim-top">
						<a href="#" class="brand_item rounded-3 box-300 d-flex align-items-center justify-content-center gap-3">
							<img src="assets/imgs/icon/icon-4.png" alt="brand" />
							<h2 class="m-0 text-dark">YellPure</h2>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 mb-1 text-center">
					<div class="brand bg-secondary-1 box-320 rounded-4 icon-shape wow img-custom-anim-top">
						<a href="#" class="brand_item rounded-3 box-300 d-flex align-items-center justify-content-center gap-3">
							<img src="assets/imgs/icon/icon-5.png" alt="brand" />
							<h2 class="m-0 text-dark">ai.core</h2>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 mb-1 text-center">
					<div class="brand bg-secondary-1 box-320 rounded-4 icon-shape wow img-custom-anim-top">
						<a href="#" class="brand_item rounded-3 box-300 d-flex align-items-center justify-content-center gap-3">
							<img src="assets/imgs/icon/icon-6.png" alt="brand" />
							<h2 class="m-0 text-dark">YellPure</h2>
						</a>
					</div>
				</div>
				<div class="col-lg-3 offset-lg-3 text-center wow img-custom-anim-top">
					<a href="get-quote.html" class="icon_hover icon-shape icon_160 border rounded-circle position-relative overflow-hidden mt-10 hover-up">
						<span class="icon-shape icon-md rounded-circle position-absolute bottom-0 end-0"></span>
						<p class="m-0 text-uppercase text-secondary position-absolute top-50 start-50 translate-middle">
							you can <br />
							be <span class="text-dark fw-bold">next</span>
						</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
