<div class="banner-line">
    <div class="vertical-effect raindrop"></div>
    <div class="vertical-effect"></div>
    <div class="vertical-effect raindrop-reverse"></div>
    <div class="vertical-effect"></div>
    <div class="vertical-effect raindrop d-none d-lg-block"></div>
    <div class="vertical-effect d-none d-lg-block"></div>
    <div class="vertical-effect raindrop-reverse"></div>
    <div class="vertical-effect d-none d-lg-block"></div>
    <div class="vertical-effect"></div>
    <div class="vertical-effect"></div>
</div>