<!--home 2 Section 1-->
<section id="testimonials" class="home2_section1 section-padding bg-secondary-1">
	<div class="container">
		<div class="row text-center wow img-custom-anim-top">
			<div class="text-primary fw-normal fs-7 text-uppercase text-decoration-underline">testimonials</div>
			<h1 class="ds-5 mt-3">Happy Users Feedback</h1>
		</div>
	</div>
	<div class="swiper slider-3 py-10 wow img-custom-anim-top">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="card_faq card-hover p-7 bg-white rounded-4">
					<div class="group_star">
						<div class="d-flex  gap-1 align-items-center px-3 py-2 border rounded-pill d-inline-flex">
							<i class="bi bi-star-fill fs-8 text-primary"></i>
							<i class="bi bi-star-fill fs-8 text-primary"></i>
							<i class="bi bi-star-fill fs-8 text-primary"></i>
							<i class="bi bi-star-fill fs-8 text-primary"></i>
							<i class="bi bi-star-fill fs-8 text-primary"></i>
						</div>
					</div>
					<p class="ds-xs-6 text-black mt-5">
						<span class="opacity-25">“</span>
						Exceptional service! My website never looked better. Truly top-notch stylists and unmatched personalized care. This is one of my favorite places to visit
						for a ui/ux website procedure and a regular.
						<span class="opacity-25">”</span>
					</p>
					<div class="card_faq_item d-flex mt-6 justify-content-between">
						<a href="#">
							<h4>Miranda H. Halim</h4>
							<p class="text-primary fw-normal fs-7 text-uppercase mb-0">FOUNDER & CEO</p>
						</a>
						<div class="avatar icon-xxl">
							<img class="rounded-circle" src="assets/imgs/avatar/avatar-5.png" alt="inexa" />
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="card_faq card-hover p-7 bg-white rounded-4">
					<div class="group_star">
						<div class="d-flex  gap-1 align-items-center px-3 py-2 border rounded-pill d-inline-flex">
							<i class="bi bi-star-fill fs-8 text-primary"></i>
							<i class="bi bi-star-fill fs-8 text-primary"></i>
							<i class="bi bi-star-fill fs-8 text-primary"></i>
							<i class="bi bi-star-fill fs-8 text-primary"></i>
							<i class="bi bi-star-fill fs-8 text-primary"></i>
						</div>
					</div>
					<p class="ds-xs-6 text-black mt-5">
						<span class="opacity-25">“</span>
						Exceptional service! My website never looked better. Truly top-notch stylists and unmatched personalized care. This is one of my favorite places to visit
						for a ui/ux website procedure and a regular.
						<span class="opacity-25">”</span>
					</p>
					<div class="card_faq_item d-flex mt-6 justify-content-between">
						<a href="#">
							<h4>Miranda H. Halim</h4>
							<p class="text-primary fw-normal fs-7 text-uppercase mb-0">FOUNDER & CEO</p>
						</a>
						<div class="avatar icon-xxl">
							<img class="rounded-circle" src="assets/imgs/avatar/avatar-3.png" alt="inexa" />
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="card_faq card-hover p-7 bg-white rounded-4">
					<div class="group_star">
						<div class="d-flex  gap-1 align-items-center px-3 py-2 border rounded-pill d-inline-flex">
							<i class="bi bi-star-fill fs-8 text-primary"></i>
							<i class="bi bi-star-fill fs-8 text-primary"></i>
							<i class="bi bi-star-fill fs-8 text-primary"></i>
							<i class="bi bi-star-fill fs-8 text-primary"></i>
							<i class="bi bi-star-fill fs-8 text-primary"></i>
						</div>
					</div>
					<p class="ds-xs-6 text-black mt-5">
						<span class="opacity-25">“</span>
						Exceptional service! My website never looked better. Truly top-notch stylists and unmatched personalized care. This is one of my favorite places to visit
						for a ui/ux website procedure and a regular.
						<span class="opacity-25">”</span>
					</p>
					<div class="card_faq_item d-flex mt-6 justify-content-between">
						<a href="#">
							<h4>Miranda H. Halim</h4>
							<p class="text-primary fw-normal fs-7 text-uppercase mb-0">FOUNDER & CEO</p>
						</a>
						<div class="avatar icon-xxl">
							<img class="rounded-circle" src="assets/imgs/avatar/avatar-6.png" alt="inexa" />
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="card_faq card-hover p-7 bg-white rounded-4">
					<div class="group_star">
						<div class="d-flex  gap-1 align-items-center px-3 py-2 border rounded-pill d-inline-flex">
							<i class="bi bi-star-fill fs-8 text-primary"></i>
							<i class="bi bi-star-fill fs-8 text-primary"></i>
							<i class="bi bi-star-fill fs-8 text-primary"></i>
							<i class="bi bi-star-fill fs-8 text-primary"></i>
							<i class="bi bi-star-fill fs-8 text-primary"></i>
						</div>
					</div>
					<p class="ds-xs-6 text-black mt-5">
						<span class="opacity-25">“</span>
						Exceptional service! My website never looked better. Truly top-notch stylists and unmatched personalized care. This is one of my favorite places to visit
						for a ui/ux website procedure and a regular.
						<span class="opacity-25">”</span>
					</p>
					<div class="card_faq_item d-flex mt-6 justify-content-between">
						<a href="#">
							<h4>Miranda H. Halim</h4>
							<p class="text-primary fw-normal fs-7 text-uppercase mb-0">FOUNDER & CEO</p>
						</a>
						<div class="avatar icon-xxl">
							<img class="rounded-circle" src="assets/imgs/avatar/avatar-5.png" alt="inexa" />
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="card_faq card-hover p-7 bg-white rounded-4">
					<div class="group_star">
						<div class="d-flex  gap-1 align-items-center px-3 py-2 border rounded-pill d-inline-flex">
							<i class="bi bi-star-fill fs-8 text-primary"></i>
							<i class="bi bi-star-fill fs-8 text-primary"></i>
							<i class="bi bi-star-fill fs-8 text-primary"></i>
							<i class="bi bi-star-fill fs-8 text-primary"></i>
							<i class="bi bi-star-fill fs-8 text-primary"></i>
						</div>
					</div>
					<p class="ds-xs-6 text-black mt-5">
						<span class="opacity-25">“</span>
						Exceptional service! My website never looked better. Truly top-notch stylists and unmatched personalized care. This is one of my favorite places to visit
						for a ui/ux website procedure and a regular.
						<span class="opacity-25">”</span>
					</p>
					<div class="card_faq_item d-flex mt-6 justify-content-between">
						<a href="#">
							<h4>Miranda H. Halim</h4>
							<p class="text-primary fw-normal fs-7 text-uppercase mb-0">FOUNDER & CEO</p>
						</a>
						<div class="avatar icon-xxl">
							<img class="rounded-circle" src="assets/imgs/avatar/avatar-3.png" alt="inexa" />
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="card_faq card-hover p-7 bg-white rounded-4">
					<div class="group_star">
						<div class="d-flex  gap-1 align-items-center px-3 py-2 border rounded-pill d-inline-flex">
							<i class="bi bi-star-fill fs-8 text-primary"></i>
							<i class="bi bi-star-fill fs-8 text-primary"></i>
							<i class="bi bi-star-fill fs-8 text-primary"></i>
							<i class="bi bi-star-fill fs-8 text-primary"></i>
							<i class="bi bi-star-fill fs-8 text-primary"></i>
						</div>
					</div>
					<p class="ds-xs-6 text-black mt-5">
						<span class="opacity-25">“</span>
						Exceptional service! My website never looked better. Truly top-notch stylists and unmatched personalized care. This is one of my favorite places to visit
						for a ui/ux website procedure and a regular.
						<span class="opacity-25">”</span>
					</p>
					<div class="card_faq_item d-flex mt-6 justify-content-between">
						<a href="#">
							<h4>Miranda H. Halim</h4>
							<p class="text-primary fw-normal fs-7 text-uppercase mb-0">FOUNDER & CEO</p>
						</a>
						<div class="avatar icon-xxl">
							<img class="rounded-circle" src="assets/imgs/avatar/avatar-6.png" alt="inexa" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</section>
