<!--home 2 Section 1-->
<section class="home2_section1  pt-120 overflow-hidden">
	<div class="container border-top border-dark">
		<div class="row">
			<div class="col-lg-2 px-0">
				<div class="position-relative mt-9 bg-white icon_160 icon-shape rounded-circle shadow">
					<img class="position-relative" src="assets/imgs/icon/badge-icon.png" alt="inexa" />
					<div class="position-absolute top-50 start-50 translate-middle w-75">
						<img class="ribbonRotate dark-reverse" src="assets/imgs/icon/badge-text.png" alt="inexa" />
					</div>
				</div>
			</div>
			<div class="col-lg-10 ps-lg-5">
				<p class="stroke_blur_right wow img-custom-anim-left">expertise</p>
				<div class="row">
					<div class="col-lg-4 col-md-5">
						<div class="experti-1 wow img-custom-anim-top">
							<img src="assets/imgs/icon/icon-7.png" alt="inexa" />
							<h1>Branding</h1>
							<p>Elevate your presence with distinctive logos, color palettes, and brand guidelines that leave a lasting impression.</p>
						</div>
						<div class="experti-1 wow img-custom-anim-top pt-10">
							<img src="assets/imgs/icon/icon-9.png" alt="inexa" />
							<h1>Consultancy</h1>
							<p>Elevate your presence with distinctive logos, color palettes, and brand guidelines that leave a lasting impression.</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-5 offset-md-1">
						<div class="experti-1 wow img-custom-anim-top">
							<img src="assets/imgs/icon/icon-8.png" alt="inexa" />
							<h1>Product design</h1>
							<p>Elevate your presence with distinctive logos, color palettes, and brand guidelines that leave a lasting impression.</p>
						</div>
						<div class="experti-1 wow img-custom-anim-top pt-10">
							<img src="assets/imgs/icon/icon-10.png" alt="inexa" />
							<h1>Architecture</h1>
							<p>Elevate your presence with distinctive logos, color palettes, and brand guidelines that leave a lasting impression.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
