<!--home 2 Section 6-->
<section class="home2_section6 pt-120 pb-120">
	<div class="container">
		<div class="row justify-content-center text-center wow img-custom-anim-top">
			<div class="position-relative icon_150 bg-transparent rounded-circle">
				<img class="position-relative z-1" src="assets/imgs/icon/badge-icon-1.png" alt="inexa" />
				<div class="position-absolute top-50 start-50 translate-middle w-100">
					<img class="ribbonRotate dark-reverse" src="assets/imgs/icon/badge-1.png" alt="inexa" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 mx-auto text-center position-relative">
				<h1 class="stroke_center wow img-custom-anim-top">rewards</h1>
				<div class="overlay_light mt-10 position-absolute top-50 start-50 translate-middle z-0">
					<img class="wow img-custom-anim-top" src="assets/imgs/human/human-2.png" alt="inexa" />
				</div>
			</div>
		</div>
		<div class="row position-relative z-1 wow img-custom-anim-top pt-3">
			<div class="col">
				<a href="#">
					<img class="hover-up" src="assets/imgs/background/img-rewards-1.png" alt="inexa" />
				</a>
			</div>
			<div class="col">
				<a href="#"><img class="hover-up" src="assets/imgs/background/img-rewards-2.png" alt="inexa" /></a>
			</div>
			<div class="col">
				<a href="#"><img class="hover-up" src="assets/imgs/background/img-rewards-3.png" alt="inexa" /></a>
			</div>
			<div class="col">
				<a href="#"><img class="hover-up" src="assets/imgs/background/img-rewards-4.png" alt="inexa" /></a>
			</div>
			<div class="col">
				<a href="#"><img class="hover-up" src="assets/imgs/background/img-rewards-5.png" alt="inexa" /></a>
			</div>
		</div>
	</div>
</section>
