<!--home 2 Section 2-->
<section class="home2_section2 pt-120">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 pe-lg-8 text-center">
				<div class="zoom-img rounded-3 d-inline-flex overflow-hidden  wow img-custom-anim-top">
					<div class="parallax-item">
						<img src="assets/imgs/background/img-about-1.png" alt="inexa" />
					</div>
				</div>
				<div class="row pt-10  wow img-custom-anim-top">
					<div class="col-md-6 pe-md-6">
						<div class="text-primary fw-normal fs-7 text-uppercase text-decoration-underline">(projects done)</div>
						<h2 class="d-flex align-items-center justify-content-center">
							<span>+</span>
							<span class="odometer fw-bold ds-4" data-count="25"></span>
							<span class="stroke_light_md ds-5">k</span>
						</h2>
						<p>I've navigated 200+ projects, each a unique chapter in my journey of creative exploration.</p>
					</div>
					<div class="col-md-6 pe-md-6">
						<div class="text-primary fw-normal fs-7 text-uppercase text-decoration-underline">(client reviews)</div>
						<h2 class="d-flex align-items-center justify-content-center">
							<span>+</span>
							<span class="odometer fw-bold ds-4" data-count="12"></span>
							<span class="stroke_light_md ds-5">k</span>
						</h2>
						<p>My commitment exceeds limits—110% dedicated to the success and impact of every project.</p>
					</div>
				</div>
				<div class="row border-top border-2 border-primary pt-3 mt-7">
					<p>Hire me for your next project. <a href="get-quote.html" class="fw-bold"> Let’s Talk!</a></p>
				</div>
			</div>
			<div class="col-lg-6 ps-lg-8 pt-lg-0 pt-5">
				<div class="  wow img-custom-anim-top">
					<div class="text-primary fw-normal fs-7 text-uppercase text-decoration-underline">About Me</div>
					<h1 class="fw-bold ds-5">Creative soul dedicated to transforming visions into premium assets.</h1>
					<p class="mt-4">
						You may also realize cost savings from your energy efficient choices in your custom home. Federal tax credits for some green materials can allow you to
						deduct as much.
					</p>
				</div>
				<div class="zoom-img rounded-3 d-inline-flex mt-lg-10 mt-5  wow img-custom-anim-top">
					<div class="parallax-item">
						<img src="assets/imgs/background/img-about-2.png" alt="inexa" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
