<!--home 2 Section4-->
<section class="home2_section4">
	<div class="container">
		<div class="row justify-content-center pb-120 wow img-custom-anim-top">
			<a
				href="#testimonials"
				class="icon_hover icon-shape icon_160 rounded-circle position-relative overflow-hidden mt-10 bg-dark hover-down"
				data-bs-toggle="tooltip"
				data-bs-title="Testimonials"
			>
				<span class="icon-shape icon-md bg-primary rounded-circle position-absolute bottom-0 end-0"></span>
				<p class="m-0 text-uppercase text-secondary position-absolute top-50 start-50 translate-middle">
					<img src="assets/imgs/icon/arrow-down.png" alt="inexa" />
				</p>
			</a>
		</div>
		<div class="row">
			<div class="col-lg-6 pe-lg-5">
				<div class="text-primary fw-normal fs-7 text-uppercase text-decoration-underline wow img-custom-anim-left">(projects done)</div>
				<h1 class="ds-5 wow img-custom-anim-left">Featured works</h1>
				<div class="card-portfolio wow img-custom-anim-top">
					<div class="zoom-img rounded-4 d-inline-flex mt-5">
						<a href="portfolio-details.html">
							<img src="assets/imgs/background/img-portfolio-1.png" alt="inexa" />
						</a>
					</div>
					<div class="d-flex mt-4 align-items-center justify-content-between pe-md-5">
						<h2 class="text-capitalize">Design Vision</h2>
						<a href="portfolio.html" class="text-primary fw-normal fs-7 text-uppercase text-decoration-underline">(ui, ux)</a>
					</div>
				</div>
				<div class="card-portfolio wow img-custom-anim-top mt-5">
					<div class="zoom-img rounded-4 d-inline-flex mt-5">
						<a href="portfolio-details.html">
							<img src="assets/imgs/background/img-portfolio-2.png" alt="inexa" />
						</a>
					</div>
					<div class="d-flex mt-4 align-items-center justify-content-between pe-md-5">
						<h2 class="text-capitalize">Blendify Works</h2>
						<a href="portfolio.html" class="text-primary fw-normal fs-7 text-uppercase text-decoration-underline">(ui, ux)</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6 ps-lg-8">
				<p class="mt-8 mt-lg-0 wow img-custom-anim-left wow img-custom-anim-top">
					Dive into my work. A showcase of digital excellence and innovation. Here I have shown amazing works
				</p>
				<a href="portfolio.html" class="text-primary fw-normal fs-7 text-uppercase text-decoration-underline wow img-custom-anim-top">view all</a>
				<div class="card-portfolio wow img-custom-anim-top mt-lg-10 mt-5">
					<div class="zoom-img rounded-4 d-inline-flex mt-5">
						<a href="portfolio-details.html">
							<img src="assets/imgs/background/img-portfolio-3.png" alt="inexa" />
						</a>
					</div>
					<div class="d-flex mt-4 align-items-center justify-content-between pe-md-5">
						<h2 class="text-capitalize">VividGrove App</h2>
						<a href="portfolio.html" class="text-primary fw-normal fs-7 text-uppercase text-decoration-underline">(ui, ux)</a>
					</div>
				</div>
				<div class="card-portfolio wow img-custom-anim-top mt-5">
					<div class="zoom-img rounded-4 d-inline-flex mt-5">
						<a href="portfolio-details.html">
							<img src="assets/imgs/background/img-portfolio-4.png" alt="inexa" />
						</a>
					</div>
					<div class="d-flex mt-4 align-items-center justify-content-between pe-md-5">
						<h2 class="text-capitalize">DesignoPro App</h2>
						<a href="portfolio.html" class="text-primary fw-normal fs-7 text-uppercase text-decoration-underline">(ui, ux)</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center wow img-custom-anim-top">
			<a href="get-quote.html" class="icon_hover icon-shape icon_160 border rounded-circle position-relative overflow-hidden mt-10 bg-white hover-up">
				<span class="icon-shape icon-md bg-primary rounded-circle position-absolute bottom-0 end-0"></span>
				<p class="m-0 text-uppercase text-secondary position-absolute top-50 start-50 translate-middle">
					hire me for <br /><span class="text-dark fw-bold">next project</span>
				</p>
			</a>
		</div>
		<div class="row pb-120 wow img-custom-anim-top">
			<div class="scroll-wrapper">
				<div class="item item1">
					<div class="d-flex align-items-center justify-content-center gap-3">
						<img src="assets/imgs/icon/icon-1.png" alt="brand" />
						<h2 class="m-0 text-dark">Astro</h2>
					</div>
				</div>
				<div class="item item2">
					<div class="d-flex align-items-center justify-content-center gap-3">
						<img src="assets/imgs/icon/icon-2.png" alt="brand" />
						<h2 class="m-0 text-dark">Purei</h2>
					</div>
				</div>
				<div class="item item3">
					<div class="d-flex align-items-center justify-content-center gap-3">
						<img src="assets/imgs/icon/icon-3.png" alt="brand" />
						<h2 class="m-0 text-dark">Freshzi</h2>
					</div>
				</div>
				<div class="item item4">
					<div class="d-flex align-items-center justify-content-center gap-3">
						<img src="assets/imgs/icon/icon-4.png" alt="brand" />
						<h2 class="m-0 text-dark">YellPure</h2>
					</div>
				</div>
				<div class="item item5">
					<div class="d-flex align-items-center justify-content-center gap-3">
						<img src="assets/imgs/icon/icon-5.png" alt="brand" />
						<h2 class="m-0 text-dark">ai.core</h2>
					</div>
				</div>
				<div class="item item6">
					<div class="d-flex align-items-center justify-content-center gap-3">
						<img src="assets/imgs/icon/icon-1.png" alt="brand" />
						<h2 class="m-0 text-dark">Astro</h2>
					</div>
				</div>
				<div class="item item7">
					<div class="d-flex align-items-center justify-content-center gap-3">
						<img src="assets/imgs/icon/icon-2.png" alt="brand" />
						<h2 class="m-0 text-dark">Purei</h2>
					</div>
				</div>
				<div class="item item8">
					<div class="d-flex align-items-center justify-content-center gap-3">
						<img src="assets/imgs/icon/icon-3.png" alt="brand" />
						<h2 class="m-0 text-dark">Freshzi</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
