<!--home 2 Section 1-->
<section class="home2_section1 position-relative overflow-hidden pt-250 wow img-custom-anim-top">
	<div class="containerposition-relative">
		<div class="row text-center justify-content-center">
			<h1 class="fs-250 mb-0 lh-1">Alvo</h1>
			<a href="#" class="text-primary fs-250 fst-italic lh-1">William</a>
			<p class="fs-3">
				Based on Italy, a versatile creator specializing in Digital <br />
				and Interaction Design.
			</p>
			<div class="box-300 position-absolute bottom-0 start-50 translate-middle-x z-1 mb-12rem">
				<img class="rounded-circle parallax-item" src="assets/imgs/avatar/avatar-4.png" alt="inexa" />
			</div>
		</div>
	</div>
	<div class="scroll-move-left">
		<div class="text-move">
			<div class="d-flex gap-5 pt-250  wow img-custom-anim-top">
				<p class="stroke_primary_xl ms-5 me-5">fakebook. behance. dribbble</p>
			</div>
		</div>
	</div>
</section>
