<!--blog list-->
<section class="blog_list_section1 bg-secondary-1 position-relative Z-0 overflow-hidden">
	<div class="scroll-move-left">
		<span class="stroke_light_lg wow img-custom-anim-right">inexa inexa</span>
	</div>
	<div class="text-center position-absolute top-50 start-50 translate-middle">
		<h1 class="ds-2 lh-sm wow img-custom-anim-left">Blog-& insights</h1>
	</div>
</section>
<div class="text-center text-uppercase position-relative z-1">
	<div class="d-inline border border-primary-1 rounded-3 py-1 px-2 bg-white wow img-custom-anim-left">
		<a class="text-secondary fs-7" href="#">Home</a>
		&nbsp;<i class="fa-solid fa-angle-right text-dark fs-7"></i>&nbsp;
		<span class="text-dark fs-7">Blog & Insights</span>
	</div>
</div>
<section class="blog_list_section2 pt-120">
	<div class="container position-relative">
		<div class="swiper slider-6 pb-120 pb_md_350 pb_xs_530">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="position-relative">
						<img class="rounded-4 wow img-custom-anim-top" src="assets/imgs/background/img-blog-1.png" alt="inexa" />
						<div class="position-absolute start-0 top-50 bg-white border shadow p-5 mt-md-10 mt-8 mx-md-8 mx-4 rounded-4 w-lg-50 card-hover">
							<a class="text-primary text-uppercase fs-7 px-2 py-1 border border-primary-1 rounded-3" href="blog-list.html">UI/UX Design</a>
							<h1 class="ds-6"><a href="blog-details.html">From Wireframes to Wonders: The UI/UX Design Process</a></h1>
							<p>
								You may also realize cost savings from your energy efficient choices in your custom home. Federal tax credits for some green materials can allow you
								to deduct as much.
							</p>
							<div class="d-flex align-items-center">
								<img class="rounded-circle me-3" src="assets/imgs/avatar/avatar-9.png" alt="inexa" />
								<h5 class="mb-0 fw-medium text-secondary"><a href="#">Jason Francisco</a></h5>
								<p class="mb-0 ms-3">August 20, 2022</p>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="position-relative">
						<img class="rounded-4 wow img-custom-anim-top" src="assets/imgs/background/img-blog-1-1.png" alt="inexa" />
						<div class="position-absolute start-0 top-50 bg-white border shadow p-5 mt-md-10 mt-8 mx-md-8 mx-4 rounded-4 w-lg-50 card-hover">
							<a class="text-primary text-uppercase fs-7 px-2 py-1 border border-primary-1 rounded-3" href="blog-list.html">UI/UX Design</a>
							<h1 class="ds-6"><a href="blog-details.html">From Wireframes to Wonders: The UI/UX Design Process</a></h1>
							<p>
								You may also realize cost savings from your energy efficient choices in your custom home. Federal tax credits for some green materials can allow you
								to deduct as much.
							</p>
							<div class="d-flex align-items-center">
								<img class="rounded-circle me-3" src="assets/imgs/avatar/avatar-9.png" alt="inexa" />
								<h5 class="mb-0 fw-medium text-secondary"><a href="#">Jason Francisco</a></h5>
								<p class="mb-0 ms-3">August 20, 2022</p>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="position-relative">
						<img class="rounded-4 wow img-custom-anim-top" src="assets/imgs/background/img-blog-1.png" alt="inexa" />
						<div class="position-absolute start-0 top-50 bg-white border shadow p-5 mt-md-10 mt-8 mx-md-8 mx-4 rounded-4 w-lg-50 card-hover">
							<a class="text-primary text-uppercase fs-7 px-2 py-1 border border-primary-1 rounded-3" href="blog-list.html">UI/UX Design</a>
							<h1 class="ds-6"><a href="blog-details.html">From Wireframes to Wonders: The UI/UX Design Process</a></h1>
							<p>
								You may also realize cost savings from your energy efficient choices in your custom home. Federal tax credits for some green materials can allow you
								to deduct as much.
							</p>
							<div class="d-flex align-items-center">
								<img class="rounded-circle me-3" src="assets/imgs/avatar/avatar-9.png" alt="inexa" />
								<h5 class="mb-0 fw-medium text-secondary"><a href="#">Jason Francisco</a></h5>
								<p class="mb-0 ms-3">August 20, 2022</p>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="position-relative">
						<img class="rounded-4 wow img-custom-anim-top" src="assets/imgs/background/img-blog-1-1.png" alt="inexa" />
						<div class="position-absolute start-0 top-50 bg-white border shadow p-5 mt-md-10 mt-8 mx-md-8 mx-4 rounded-4 w-lg-50 card-hover">
							<a class="text-primary text-uppercase fs-7 px-2 py-1 border border-primary-1 rounded-3" href="blog-list.html">UI/UX Design</a>
							<h1 class="ds-6"><a href="blog-details.html">From Wireframes to Wonders: The UI/UX Design Process</a></h1>
							<p>
								You may also realize cost savings from your energy efficient choices in your custom home. Federal tax credits for some green materials can allow you
								to deduct as much.
							</p>
							<div class="d-flex align-items-center">
								<img class="rounded-circle me-3" src="assets/imgs/avatar/avatar-9.png" alt="inexa" />
								<h5 class="mb-0 fw-medium text-secondary"><a href="#">Jason Francisco</a></h5>
								<p class="mb-0 ms-3">August 20, 2022</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="position-absolute bottom-0 end-0 m-8 pb-120 d-none d-lg-block">
			<div class="d-flex gap-5">
				<div class="swiper-button-prev position-relative mt-0">
					<i class="bi bi-arrow-left"></i>
				</div>
				<div class="swiper-button-next position-relative mt-0">
					<i class="bi bi-arrow-right"></i>
				</div>
			</div>
		</div>
	</div>
</section>
