<!--blog details sec1-->
<section class="blog_list_section1 bg-secondary-1 position-relative Z-0 overflow-hidden">
    <div class="scroll-move-left">
        <span class="stroke_light_lg wow img-custom-anim-right">inexa inexa</span>
    </div>
    <div class="text-center position-absolute top-50 start-50 translate-middle">
        <h1 class="ds-2 lh-sm wow img-custom-anim-left">Get a Quote</h1>
    </div>
</section>
<div class="text-center text-uppercase position-relative z-1">
    <div class="d-inline border border-primary-1 rounded-3 py-1 px-2 bg-white wow img-custom-anim-left">
        <a class="text-secondary fs-7" href="#">Home</a>
        &nbsp;<i class="fa-solid fa-angle-right text-dark fs-7"></i>&nbsp;
        <span class="text-dark fs-7">Get a Quote</span>
    </div>
</div>