<!--blog list-->
<section class="section-padding overflow-hidden">
	<div class="container">
		<div class="row position-relative">
			<div class="col-lg-7 ms-auto position-relative z-2 mb-lg-400">
				<div class="p-md-8 p-6 shadow rounded-4 bg-white bg-custom-1">
					<div class="text-primary fw-normal fs-7 text-uppercase text-decoration-underline">Get in touch!</div>
					<h1 class="fw-bold ds-5 mt-4">Have a cool project?</h1>
					<p class="mb-5">You may also realize cost savings from your energy efficient choices in your custom home.</p>
					<form action="#">
						<div class="row mt-5">
							<div class="col-md-6">
								<div class="input-group">
									<i class="bi bi-person-fill text-dark d-flex bg-secondary-1 py-3 rounded-start-4 ps-3 align-items-center"></i>
									<input type="text" class="form-control border-0 rounded-end-4 bg-secondary-1" placeholder="Your name" aria-label="username" />
								</div>
							</div>
							<div class="col-md-6 mt-3 mt-md-0">
								<div class="input-group">
									<i class="bi bi-envelope-open-fill text-dark d-flex bg-secondary-1 py-3 rounded-start-4 ps-3 align-items-center"></i>
									<input type="text" class="form-control border-0 rounded-end-4 bg-secondary-1" placeholder="info@" aria-label="email" />
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-group mt-3">
									<i class="fa-solid fa-phone text-dark d-flex bg-secondary-1 py-3 rounded-start-4 ps-3 align-items-center"></i>
									<input type="text" class="form-control border-0 rounded-end-4 bg-secondary-1" placeholder="Phone" aria-label="phone" />
								</div>
							</div>
							<div class="col-md-6 mt-3 mt-md-0">
								<div class="input-group mt-3">
									<i class="fa-solid fa-tags text-dark bg-secondary-1 py-3 rounded-start-4 ps-3 d-flex align-items-center"></i>
									<input type="text" class="form-control border-0 rounded-end-4 bg-secondary-1" placeholder="Subject" aria-label="subject" />
								</div>
							</div>
							<div class="col-12">
								<div class="input-group mt-3">
									<i class="bi bi-pencil-fill text-dark bg-secondary-1 rounded-start-4 pt-2 ps-3 d-flex align-items-start"></i>
									<textarea
										class="form-control border-0 rounded-end-4 bg-secondary-1 rounded-0 pb-10"
										placeholder="Describe Your Project in Short"
										aria-label="With textarea"
									></textarea>
								</div>
							</div>
							<div class="form-check mt-4 ms-3">
								<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
								<label class="form-check-label user-select-none" for="flexCheckDefault">
									I agree to the site’s <a class="text-dark text-decoration-underline" href="#">privacy policy</a></label
								>
							</div>
							<div class="col-12">
								<button type="submit" class="btn btn-dark mt-3">Get A Quote</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="position-lg-absolute top-0 mt-lg-10">
					<div class="d-inline-flex position-relative mt-lg-10">
						<div class="zoom-img rounded-4 mt-5">
							<img src="assets/imgs/background/img-page-quote.png" alt="inexa" />
						</div>
						<div class="position-absolute start-0 top-100 ms-8 translate-middle-y mb-5 bg-white icon_115 icon-shape rounded-circle shadow">
							<img class="position-relative" src="assets/imgs/icon/email.png" alt="inexa" />
							<div class="position-absolute top-50 start-50 translate-middle w-75">
								<img class="ribbonRotate dark-reverse" src="assets/imgs/icon/badge-text-1.png" alt="inexa" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-secondary-1 mask-image mt-lg-0 mt-10">
		<div class="d-flex align-items-center scroll-move-left">
			<span class="stroke_light_md">let’s work together</span>
			<div>
				<img class="mx-8" src="assets/imgs/icon/icon-11.png" alt="inexa" />
			</div>
			<span class="stroke_light_md ms-5">let’s work together</span>
		</div>
	</div>
</section>
