<div class="col-md-4 wow img-custom-anim-top">
	<div class="position-relative hover-up my-5">
		<a href="blog-details.html"><img class="rounded-4 mb-3" src="@@img" alt="inexa" /></a>
		<span>@@date</span>
		<span>&nbsp;/&nbsp;</span>
		<span>By <a class="fw-bold text-dark" href="#">@@author</a></span>
		<h4 class="mt-3"><a href="blog-details.html">@@title</a></h4>
		<a class="text-white text-hover-white bg-primary position-absolute top-0 end-0 px-2 mt-4 me-5 rounded-3 text-uppercase fs-7" href="blog-list.html">@@category</a>
	</div>
</div>
